{include file='public/header' /}
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>招商加盟</cite></a>
              <a><cite>申请加盟</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button><span class="x-right" style="line-height:40px">共有数据：{$count}条</span></xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            <!--<input type="checkbox" name="" value="">-->
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            姓名
                        </th>
                        <th>
                            性别
                        </th>
                        <th>
                            电话
                        </th>
                        <th>
                            地址
                        </th>
                        <th>
                            留言时间
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="x-link">

                {volist name='message' id='vo'   empty='暂时没有数据'}
                    <tr>
                        <td>
                            <input type="checkbox" value="{$vo.id}" name="check[]">
                        </td>
                        <td>
                            {$vo.id}
                        </td>
                        <td>
                            {$vo.name}
                        </td>
                        <td>
                            {$vo.sex}
                        </td>
                        <td>
                            {$vo.phone}
                        </td>
                        <td>
                            {$vo.address}
                        </td>
                        <td>
                            {$vo.time|date = 'Y-m-d H:i:s',###}
                        </td>
                        <td class="td-manage">
                            <a title="删除" href="javascript:;" onclick="message_del(this,'{$vo.id}')"
                            style="text-decoration:none">
                                <i class="layui-icon">&#xe640;</i>
                            </a>
                        </td>
                    </tr>
                {/volist}
                </tbody>
            </table>

            <div style="text-align: center">{$message->render()}</div>
        </div>
        {include file='public/base_js' /}
        <script>
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              layer = layui.layer;//弹出层
              form = layui.form();

              //监听提交添加按钮
              form.on('submit(add)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                  $.post("{:url('create')}",data.field,function (res) {
                      if (res.status == 1){
                          layer.alert(res.message, {icon: 6});
//                          $('#x-link').prepend('<tr><td><input type="checkbox"value="1"name=""></td><td>res.id</td><td>res.cate_order</td><td>res.cate_name</td><td class="td-manage"><a title="编辑"href="javascript:;"onclick="cate_edit(\'编辑\',\'cate-edit.html\',\'4\',\'\',\'510\')"class="ml-5"style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a><a title="删除"href="javascript:;"onclick="message_del(this,\'1\')"style="text-decoration:none"><i class="layui-icon">&#xe640;</i></a></td></tr>');

                          setTimeout(function () {
                              window.location.replace(location.href);
                          },1000);


                      }else {
                          layer.alert(res.message, {icon: 6});
                      }
                  });
                return false;
              });


            })



              
            //批量删除提交
             function delAll () {
                layer.confirm('确认要删除吗？',function(index){
                    //捉到所有被选中的，发异步进行删除
                    layer.msg('删除成功', {icon: 1});
                });
             }
           
            /*-删除*/
            function message_del(obj,id){
                layer.confirm('确认要删除吗？',function(index){
                    //发异步删除数据
                    $.get("{:url('delete')}",{id:id});

                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                });
            }
            </script>

    </body>
</html>