<script src="__STATIC__/admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="__STATIC__/admin/js/x-admin.js"></script>
<script src="__STATIC__/admin/js/jquery.min.js"></script>
<script src="__STATIC__/admin/js/x-layui.js"></script>
<!--引入boostrap-->
{load href="__STATIC__/admin/lib/bootstrap/css/bootstrap.css"}
{load href="__STATIC__/admin/lib/bootstrap/js/bootstrap.js"}