{include file='public/header' /}
    <body>
        <div class="x-body">
            <form class="layui-form" enctype="multipart/form-data" method="post" action="{:url('save')}">
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>网站标题
                    </label>
                    <div class="layui-input-inline">
                        <textarea name="title_name" id="link"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>关键词
                    </label>
                    <div class="layui-input-inline">
                         <textarea name="keywords" id="link"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label" style="width: 92px;">
                        <span class="x-red">*</span>网站描述
                    </label>
                    <div class="layui-input-inline">
                         <textarea name="description" id="link"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="add" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="" id="add" type="submit">
                        增加
                    </button>
                </div>
            </form>
        </div>
        {include file='public/base_js' /}


    </body>

</html>