{include file='public/header' /}
    
    <body>
        <div class="x-body">
            <form class="layui-form" enctype="multipart/form-data" method="post" action="{:url('update')}">
    
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>寄语
                    </label>
                    <div class="layui-input-inline">
                        <textarea name="des" id="link">{$data.des}</textarea>
                    </div>
                    <input type="hidden" name="id" value="{$data.id}">
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>详情
                    </label>
                    <div class="layui-input-inline">
                        <textarea name="content" id="content">{$data.content}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="" type="submit">
                        保存
                    </button>
                </div>
            </form>
        </div>
        {include file='public/base_js' /}


    </body>

</html>