{include file='public/header' /}
    <body>
        <div class="x-body">
            <form class="layui-form" method="post" action="{:url('save')}">

                <div class="layui-form-item">
                    <label for="desc" class="layui-form-label">
                        <span class="x-red">*</span>内容
                    </label>
                    <div class="layui-input-inline">
                         <textarea name="content" id="content"></textarea>
                    </div>

                </div>
                <div class="layui-form-item">
                    <label for="add" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="" id="add" type="submit">
                        增加
                    </button>
                </div>
            </form>
        </div>
        {include file='public/base_js' /}


    </body>

</html>