{include file='public/header' /}
    <body>
        <div class="x-body">
            <form class="layui-form" enctype="multipart/form-data" method="post" action="{:url('save')}">
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>图片
                    </label>
                    <div class="layui-input-inline">
                      <div class="site-demo-upbar">
                        <input type="file" name="image"  id="test">
                      </div>
                    </div>
                </div>

                
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>姓名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" name="name"
                         class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>年龄
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" name="age"
                         class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="desc" class="layui-form-label">
                        <span class="x-red">*</span>所报课程
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="desc" name="course"
                         class="layui-input">
                    </div>

                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>训练成果
                    </label>
                    <div class="layui-input-inline">
                        <textarea name="chengg" class="layui-input"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="desc" class="layui-form-label">
                        <span class="x-red">*</span>试听链接
                    </label>
                    <div class="layui-input-inline">
                        <textarea name="link" class="layui-input"></textarea>
                    </div>

                </div>
                <div class="layui-form-item">
                    <label for="add" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="" id="add" type="submit">
                        增加
                    </button>
                </div>
            </form>
        </div>
        {include file='public/base_js' /}


    </body>

</html>