<div class="footer_zn">
			<div class="ft_1">
			<div class="wrap clear ">
				<ul>
					<li>联系我们</li> 
					<li class="rwm">
						<img src="__STATIC__/index/images/erweima.gif" />
					</li>
				</ul>
				
				<ul>
					<li>品牌介绍</li> 
					<li><a href="{:url('index/index')}">品牌荣誉</a></li>
					<li><a href="{:url('contact/index')}">联系方式</a></li>
				</ul>

				<ul>
					<li>精彩课程</li>
					<li><a href="{:url('jingckec/index')}">课程理论</a></li>
					<li><a href="{:url('jingckec/index')}">课程介绍</a></li>
					<li><a href="{:url('coursest/index')}">课程试听</a></li>
					<li><a href="{:url('coursest/index')}">在线教学</a></li>
				</ul>
				<ul>
					<li>人才招聘</li>
					<li><a href="{:url('rencai/index')}">教师招聘</a></li>
					<li><a href="{:url('rencai/index')}">加盟招聘</a></li>
				</ul>
				<ul>
					<li>联系我们</li>
					<li><a href="{:url('contact/index')}">公司留言</a></li>
					<li><a href="{:url('contact/index')}">公司地图</a></li>

				</ul>
				<ul>
					<li class="rl">24小时全国服务热线</li>
					<li class="tel">027-82809688</li>
					<li class="lx">
						<a class="qq" href="#"></a>
						<a class="wb" href="#"></a>
						<a class="wx" href="#"></a>
					</li>
				</ul>
				
			</div>
			</div>
			
			<div class="ft_2">
				<p>武汉市江岸区后湖百步亭万家汇三楼 </p>
				<p>版权所有 Copyright © 2017 Otto2艺术美学 ALL RIGHT RESERVED 弘圣文化艺术(武汉)有限公司</p>
			</div>
</div>