<!--顶部到导航栏-->
<div id="toparea">
	<div id="tarea">
		<div id="lword">Otto2艺术美学</div>
		<div id="rlink">
			<a href="javascript:void(0);" onclick="javascript:shoucang(document.title,document.URL);">加入收藏</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="javascript:void(0);" onclick="javascript:sethome(this,document.URL)">设为首页</a>
		</div>
	</div>
</div>

<div id="top">
	<h1 id="logo"><a href="index.htm" title="优佳加-儿童感统训练"></a></h1>
	<div id="tw"></div>
	<div id="erwema"><img src="__STATIC__/index/images/erweima.gif"  /><br>扫一扫开启智能教学体验</div>
	<div id="tright">
		<div id="telname">统一服务热线</div>
		<div id="toptel">027-82809688</div>
	</div>
</div>

<div id="topmenu">
	<div id="nav">
		<ul>
			<li <?php if(isset($on)&&($on==1)){?> class="on" <?php }?>>
				<a title="首页" href="{:url('index/index')}">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
			</li>
			<li <?php if(isset($on)&&($on==2)){?> class="on" <?php }?>>
				<a title="品牌介绍" href="{:url('pinpai/index')}">品牌介绍</a>
			</li>
			<li <?php if(isset($on)&&($on==3)){?> class="on" <?php }?>>
				<a title="精彩课程" href="{:url('jingckec/index')}">精彩课程</a>
			</li>
			<li <?php if(isset($on)&&($on==4)){?> class="on" <?php }?>>
				<a title="学员成长" href="{:url('students/index')}">学员成长</a>
			</li>
			<li <?php if(isset($on)&&($on==5)){?> class="on" <?php }?>>
				<a title="新闻中心" href="{:url('news/index')}">新闻中心</a>
			</li>
			<li <?php if(isset($on)&&($on==6)){?> class="on" <?php }?>>
				<a title="师资实力" href="{:url('teachers/index')}">师资实力</a>
			</li>
			<li <?php if(isset($on)&&($on==7)){?> class="on" <?php }?>>
				<a title="机构简介" href="{:url('Coursest/index')}" >课程试听</a>
			</li>
			<li <?php if(isset($on)&&($on==8)){?> class="on" <?php }?>>
				<a title="人才招聘" href="{:url('Rencai/index')}">人才招聘</a>
			</li>
			<li <?php if(isset($on)&&($on==9)){?> class="on" <?php }?>>
				<a title="联系我们" href="{:url('contact/index')}" >联系我们</a>
			</li>
		</ul>
	</div>
</div>
<!--顶部到导航栏-->