    
<!-- 教师学院右边共用 -->
    <div id="rightitems">
        <div id="reccourse">
	<div id="title">相关课程推荐<a href="{:url('Coursest/index')}">more</a></div>
    <div id="imgs">
                {volist name="tuijian" id="vo"}
    	    	<a href="{:url('Coursest/index')}"><img src="__ROOT__/uploads/{$vo.image}" width="280" height="180" /></a>
                {/volist}
            </div>
</div>        <div id="recteacher">
	<div id="title">学员成长案例<a href="{:url('students/index')}">more</a></div>
    <div id="imgs">
           {volist name="right" id="vo"}
    	    	<a href="{:url('students/detail')}?id={$vo.id}"><img src="__ROOT__/uploads/{$vo.image}" width="280" height="180" /></a>
                {/volist}
            </div>
</div>        <div id="rcontact">
	<div id="tels">
    	027-82809688    </div>
    <div id="address">
    	<span style="color:#FFF500;">光谷会馆：</span><br />        武汉市东湖高新区关山大道光谷天地九台别墅（光谷馆）<br />        <span style="color:#FFF500;">后湖会馆：</span><br /><p>        武汉江岸区后湖百步亭万家汇三楼（后湖馆）</p>    </div>
</div>    
</div>
<!-- 教师学院右边共用 -->