@charset "utf-8";
body {margin:0 auto; padding:0; background-color:#fff; width:100%; position:relative;}
body,html{ padding-top:0px;min-width: 1200px;}
* {font-size:14px; line-height:25px; color:#666666; font-family:'微软雅黑';}
*:focus {outline:none;}
img { border:0px;}
ul {margin:0px; margin-left:-40px; *margin-left:0px;}
li {list-style-type:none;}
a { outline:none; outline:0;}
a:link {font-size: 14px;color: #919191;text-decoration: none;}
a:visited {font-size: 14px;color: #919191;text-decoration: none;}
a:hover {font-size: 14px;color:#E13B74;text-decoration:none;}
p { margin:0px; padding:0px;}
form { margin:0px; padding:0px;}

DIV.thepage {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px;FONT-SIZE: 14px; MARGIN: 3px; COLOR: #fff; PADDING-TOP: 3px; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
DIV.thepage A {
	MARGIN: 1px; COLOR: #666; BACKGROUND-COLOR: #fff;FONT-SIZE: 14px; TEXT-DECORATION: none; border:1px solid #cccccc; padding:9px; padding-left:15px; padding-right:15px;
}
DIV.thepage A:hover {
	COLOR: #fff; BACKGROUND-COLOR:#E13B74;border:1px solid #E13B74;FONT-SIZE: 14px;
}
DIV.thepage A:active {
	COLOR: #E13B74; BACKGROUND-COLOR: #fff;FONT-SIZE: 14px;
}
DIV.thepage SPAN.current {
	MARGIN: 1px; COLOR: #ffffff; BACKGROUND-COLOR: #E13B74; border:1px solid #E13B74; padding:9px; padding-left:15px; padding-right:15px;FONT-SIZE: 14px;
}
DIV.thepage SPAN.disabled {
	MARGIN: 1px; COLOR: #cccccc; BACKGROUND-COLOR: #fff;FONT-WEIGHT: bold; border:1px solid #cccccc; padding:9px; padding-left:15px; padding-right:15px;FONT-SIZE: 14px;
}

#toparea { margin:0 auto; width:100%; height:35px; overflow:hidden; background-color:#EDEDED; margin-top:0px;}
#toparea #tarea { margin:0 auto; width:1200px; height:25px; padding-top:5px; overflow:hidden;}
#toparea #tarea #lword { float:left; width:600px; text-align:left; overflow:hidden; color:#9F9F9F; font-size:13px;}
#toparea #tarea #rlink { float:right; width:575px; text-align:right; overflow:hidden; color:#9F9F9F; font-size:13px;}
#toparea #tarea #rlink a { color:#9F9F9F; font-size:13px;}
#toparea #tarea #rlink a:hover { text-decoration:underline;}

#top { margin:0 auto; width:1200px; height:116px; margin-top:0px; background-color:#fff;}
#top #logo { float:left; width:374px; height:65px; overflow:hidden; margin-top:20px; margin-left:0px;}
#top #logo a { display:block; width:374px; height:65px; background:url("../images/logo.png")/*tpa=http://www.up-best.cn/images/logo.png*/ no-repeat left top;}
#top #tw { float:left; width:315px; height:60px; overflow:hidden; margin-top:20px; margin-left:30px; background:url("../images/tw.png")/*tpa=http://www.up-best.cn/images/tw.png*/ no-repeat left center;}
#top #erwema {float:left; margin-left:130px; margin-top:10px; line-height:25px; width:160px; text-align:center; font-size:12px; color:#666;}
#top #erwema img{width:76px!important;height:76px!important;}
#top #tright { float:right; width:160px; margin-top:20px; overflow:hidden;}
#top #tright #telname { width:100%; overflow:hidden; color:#333333; font-size:16px;}
#top #tright #toptel { width:100%; overflow:hidden; margin-top:5px; color:#812b84; font-size:16px; line-height:32px; font-weight:bold;}

#topmenu { margin:0 auto; width:100%; margin-top:0px; height:55px; background-color:#0086d1; text-align:center; position:relative; z-index:999;}
#topmenu #nav { margin:0 auto; width:1200px; height:55px;}
#topmenu #nav ul { width:1300px;}
#topmenu #nav ul li { float:left; width:118px; text-align:center; height:55px; position:relative; margin-right:17px;background:url("../images/mline.png")/*tpa=http://www.up-best.cn/images/mline.png*/ no-repeat right 20px;}
#topmenu #nav ul li.on { background:url(); background-color:#016ca7;}
#topmenu #nav ul li a { display:block; text-decoration:none; width:118px; height:40px; padding-top:15px; text-align:center; color:#fff; font-size:15px;}
#topmenu #nav ul li #small { display:none; width:118px; background:url("../images/mask2_.png")/*tpa=http://www.up-best.cn/images/mask2_.png*/ repeat left top; position:absolute; top:55px; left:0px; overflow:hidden; padding-top:0px; padding-bottom:0px; border-radius:0px 0px 8px 8px;}
#topmenu #nav ul li #small a { display:block; width:118px; text-align:center; font-size:15px; padding-top:12px; padding-bottom:0px; color:#fff;}
#topmenu #nav ul li #small a:hover { color:#fff; background-color:#016ca7;}

#indexad { margin:0 auto; width:100%; height:600px; overflow:hidden; margin-top:0px; position:relative; text-align:center;}
#indexad #adarea { margin:0 auto; width:1920px; height:600px; overflow:hidden; position:relative; margin-left:-950px; left:50%; z-index:900;}
#indexad #adarea #ads { width:1920px; height:600px; position:relative; overflow:hidden;}
#indexad #adarea #ads ul { width:1920px;}
#indexad #adarea #ads ul li { width:1920px; height:600px; text-align:center; overflow:hidden; opacity:0;filter: alpha(opacity=0);position: absolute;}
#indexad #adarea #bts { margin:0 auto; width:300px; height:14px; overflow:hidden; position:relative; z-index:999; margin-top:-50px; margin-bottom:38px;}
#indexad #adarea #bts ul {display: table;margin:0 auto;text-align:center;padding:0;}
#indexad #adarea #bts ul li {float:left; width:14px; height:14px; margin-left:5px; margin-right:5px; overflow:hidden; cursor:pointer; background:url("../images/bullet.png")/*tpa=http://www.up-best.cn/images/bullet.png*/ no-repeat left top;}
#indexad #adarea #bts ul li.on { background:url("../images/bullet.png")/*tpa=http://www.up-best.cn/images/bullet.png*/ no-repeat left -14px;}

#pagead { margin:0 auto; width:100%; height:300px; overflow:hidden; margin-top:0px; position:relative; text-align:center;}
#pagead #adarea { margin:0 auto; width:1900px; height:300px; overflow:hidden; position:relative; margin-left:-950px; left:50%; z-index:900;}

#indeximport { margin:0 auto;padding-top: 30px; width:100%; max-width:1900px; background-color:#fafafa; overflow:hidden; margin-top:0px; height:280px;}
#indeximport #import { margin:0 auto; width:1200px; overflow:hidden; margin-top:55px;}
#indeximport #import ul { width:1500px;}
#indeximport #import ul li { float:left; width:220px; margin-left:40px; margin-right:40px; text-align:center; overflow:hidden;}
#indeximport #import ul li #img { width:220px; text-align:center; overflow:hidden;}
#indeximport #import ul li #name { width:220px; text-align:center; overflow:hidden; font-size:18px; color:#454545; margin-top:15px;}
#indeximport #import ul li #en { width:220px; text-align:center; overflow:hidden; font-size:13px; color:#B2B2B2; line-height:15px; margin-top:8px;}

#indexcourse { margin:0 auto; width:1200px; overflow:hidden; margin-top:45px;}
#indexcourse #title1 { margin:0 auto; width:360px; overflow:hidden; text-align:center;}
#indexcourse #title1 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#0086d1;}
#indexcourse #title1 #en { width:360px; overflow:hidden; margin-top:10px;}
#indexcourse #title1 #en #lline { float:left; width:30%; height:1px; overflow:hidden; border-top:1px solid #DADADA; margin-top:13px;}
#indexcourse #title1 #en #rline { float:right; width:30%; height:1px; overflow:hidden; border-top:1px solid #DADADA; margin-top:13px;}
#indexcourse #title1 #en #mword { float:left; width:40%; text-align:center; font-size:14px; color:#0086d1;}
#indexcourse #title1 #img { width:136px;height: 4px;background: #0086d1; overflow:hidden; margin-top:12px; display: inline-block;}
#indexcourse #clist { width:1200px; overflow:hidden; margin-top:55px;}
#indexcourse #clist ul { width:1500px;}
#indexcourse #clist ul li { float:left; width:375px; overflow:hidden; margin-right:32px;position: relative;padding-bottom: 20px;}
#indexcourse #clist ul li #img { width:375px; height:264px; overflow:hidden;}
#indexcourse #clist ul li #img img { border-radius:10px;}
#indexcourse #clist ul li #name { width:375px; overflow:hidden;position: absolute;left:0px;bottom:0px;}
#indexcourse #clist ul li #name a { display:block; margin:0 auto; width:250px; padding-top:7px; padding-bottom:7px; text-align:center; color:#fff; font-size:15px; background-color:#FACA00; text-decoration:none;}
#indexcourse #clist ul li:hover #name a { background-color:#0086d1;}

#indexstudent { margin:0 auto; width:100%; height:510px; overflow:hidden; margin-top:60px; background:url("../images/bg1.jpg")/*tpa=http://www.up-best.cn/images/bg1.jpg*/ no-repeat center top;}
#indexstudent #title2 { margin:0 auto; width:360px; overflow:hidden; text-align:center; margin-top:35px;}
#indexstudent #title2 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#fff;}
#indexstudent #title2 #en { width:360px; overflow:hidden; margin-top:10px;}
#indexstudent #title2 #en #lline { float:left; width:30%; height:1px; overflow:hidden; border-top:1px solid #fff; margin-top:13px;}
#indexstudent #title2 #en #rline { float:right; width:30%; height:1px; overflow:hidden; border-top:1px solid #fff; margin-top:13px;}
#indexstudent #title2 #en #mword { float:left; width:40%; text-align:center; font-size:14px; color:#fff;}
#indexstudent #title2 #img { width:136px;height: 4px;background: #fff; overflow:hidden; margin-top:12px; display: inline-block;}
#indexstudent #slist { margin:0 auto; width:1290px; height:265px; position:relative; margin-left:-645px; left:50%; overflow:hidden; background-color:#fff; margin-top:50px;}
#indexstudent #slist #tleft { float:left; margin-left:10px; width:19px; height:38px; margin-top:100px; cursor:pointer; background:url("../images/tleft.png")/*tpa=http://www.up-best.cn/images/tleft.png*/ no-repeat left top;}
#indexstudent #slist #tleft:hover { background-position:left -38px;}
#indexstudent #slist #tright { float:right; margin-right:10px; width:19px; height:38px; margin-top:100px; cursor:pointer; background:url("../images/tright.png")/*tpa=http://www.up-best.cn/images/tright.png*/ no-repeat left top;}
#indexstudent #slist #tright:hover { background-position:left -38px;}
#indexstudent #slist #sarea { float:left; width:1200px; margin-left:15px; overflow:hidden; margin-top:28px;}
#indexstudent #slist #sarea ul { width:1300px;}
#indexstudent #slist #sarea ul li { float:left; width:280px; height:215px; margin-right:20px; margin-left:4px;}
#indexstudent #slist #sarea ul li a { display:block; width:280px; height:180px; margin:0px; padding:0px; position:relative;}
#indexstudent #slist #sarea ul li a p { display:none; position:absolute; width:280px; height:180px; background:url("../images/mask1.png")/*tpa=http://www.up-best.cn/images/mask1.png*/ no-repeat left top; left:0px; top:0px;}
#indexstudent #slist #sarea ul li:hover a p { display:block;}
#indexstudent #slist #sarea ul li span { display:block; width:280px; margin-top:7px; text-align:center; color:#333; font-size:15px;}
#indexstudent #slist #sarea ul li:hover span { color:#0086d1;}
#indexstudent #more { margin:0 auto; width:110px; height:40px; margin-top:0px; background-color:#fff; text-align:center;}
#indexstudent #more a { display:block; width:110px; height:33px; padding-top:7px; background-color:#fff; text-align:center; text-decoration:none; font-size:18px; color:#0086d1;}
#indexstudent #more a:hover { background-color:#f6bf12; color:#fff;}

#indexteacher { margin:0 auto; width:100%; overflow:hidden; margin-top:0px; background-color:#EBEBEB;padding-bottom: 40px;}
#indexteacher #title3 { margin:0 auto; width:360px; overflow:hidden; text-align:center; margin-top:55px;}
#indexteacher #title3 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#0086d1;}
#indexteacher #title3 #en { width:360px; overflow:hidden; margin-top:10px;}
#indexteacher #title3 #en #lline { float:left; width:28%; height:1px; overflow:hidden; border-top:1px solid #969696; margin-top:13px;}
#indexteacher #title3 #en #rline { float:right; width:28%; height:1px; overflow:hidden; border-top:1px solid #969696; margin-top:13px;}
#indexteacher #title3 #en #mword { float:left; width:44%; text-align:center; font-size:14px; color:#0086d1;}
#indexteacher #title3 #img { width:136px;height: 4px;background: #0086d1; overflow:hidden; margin-top:12px; display: inline-block;}
#indexteacher #tlist { margin:0 auto; width:1200px; overflow:hidden; position:relative; margin-top:55px;}
#indexteacher #tlist #tleft { float:left; width:19px; height:38px; margin-top:120px; cursor:pointer; background:url("../images/tleft.png")/*tpa=http://www.up-best.cn/images/tleft.png*/ no-repeat left top;}
#indexteacher #tlist #tleft:hover { background-position:left -38px;}
#indexteacher #tlist #tright { float:right; width:19px; height:38px; margin-top:120px; cursor:pointer; background:url("../images/tright.png")/*tpa=http://www.up-best.cn/images/tright.png*/ no-repeat left top;}
#indexteacher #tlist #tright:hover { background-position:left -38px;}
#indexteacher #tlist #tarea { float:left; width:1200px;}
#indexteacher #tlist #tarea ul { width:1200px;}
#indexteacher #tlist #tarea ul li { float:left; width:280px; height:364px; overflow:hidden; position:relative; margin: 0px 10px;}
#indexteacher #tlist #tarea ul li a { display:none; width:280px; height:346px; position:absolute; left:0px; top:0px; background:url("../images/mask2.png")/*tpa=http://www.up-best.cn/images/mask2.png*/ repeat left top;}
#indexteacher #tlist #tarea ul li a #name { margin:0 auto; width:240px; margin-top:80px; text-align:center; color:#fff; font-size:20px; font-weight:bold;}
#indexteacher #tlist #tarea ul li a #notes { margin:0 auto; width:240px; margin-top:10px; text-align:left; color:#fff; font-size:14px; line-height:20px;}
#indexteacher #tlist #tarea ul li:hover a { display:block;}
#indexteacher #more { margin:0 auto; width:1200px; height:42px; margin-top:35px; text-align:center;border-top: 2px solid #666;position: relative;}
#indexteacher #more a { display:block; width:110px; height:33px; padding-top:7px; border:2px solid #666; text-align:center; text-decoration:none; font-size:18px; color:#0086d1;position: absolute;left:545px;top:-2px;border-top:2px solid #EBEBEB;;}
#indexteacher #more a:hover {}

#indexad1 { margin:0 auto; width:1200px; height:165px; overflow:hidden; margin-top:35px; text-align:center;}
#indexad2 { margin:0 auto; width:1200px; height:160px; overflow:hidden; margin-top:35px; text-align:center;}

#indexschool { margin:0 auto; width:1200px; overflow:hidden; margin-top:35px;}
#indexschool #sleft { float:left; width:700px; overflow:hidden;}
#indexschool #sleft #title { width:700px; overflow:hidden;}
#indexschool #sleft #title #titlename { float:left; width:600px; overflow:hidden;}
#indexschool #sleft #title #titlename font { font-size:22px; line-height:35px; color:#0F0F0F;}
#indexschool #sleft #title #titlename span { font-size:28px; color:#0086d1; text-transform:uppercase; font-family:Georgia, "Times New Roman", Times, serif}
#indexschool #sleft #title #more { float:right; width:210px; overflow:hidden;}
#indexschool #sleft #title #more a { margin-top:30px; display:block; width:auto; background-color:#E13B74; padding-left:10px; padding-right:10px; float:right; color:#fff; text-transform:uppercase; font-size:13px;}
#indexschool #sleft #schoolname { width:700px; overflow:hidden; margin-top:25px;}
#indexschool #sleft #schoolname div { display:block; cursor:pointer; background-color:#F1A7C0; float:left; width:350px;height:60px; overflow:hidden; text-align:center; text-decoration:none;line-height:60px; font-size:24px; color:#FFF; background-color:#0086d1;border-radius: 10px 10px 0px 0px;}
#indexschool #sleft #schoolname div.on { background-color:#016ca7; color:#fff;}

#indexschool #sleft .schoolimg { width:700px; height:450px; overflow:hidden;display: none;}
#indexschool #sleft .schoolimg .d1{ position:relative;background:#fff;}
#indexschool #sleft .schoolimg .d1 .scroll{ width:700px; height:450px; position: relative;overflow: hidden;}
#indexschool #sleft .schoolimg .d1 .scroll ul{width:20000em;position: absolute;margin: 0px;padding: 0px;}
#indexschool #sleft .schoolimg .d1 .scroll li{width: 700px;height:450px;float: left;}
#indexschool #sleft .schoolimg .d1 .scroll li img{width:700px;height:450px;}
#indexschool #sleft .schoolimg .d1 .prevPage,#indexschool #sleft .schoolimg .d1 .nextPage{ width:30px; height:30px; display:block; position:absolute; top:200px;z-index: 999999;}
#indexschool #sleft .schoolimg .d1 .prevPage{ background:url(../images/l.png) no-repeat; left:30px;}
#indexschool #sleft .schoolimg .d1 .nextPage{ background:url(../images/r.png) no-repeat; right:30px;}
#indexschool #sleft .schoolimg .d1 .prevPage:hover{ background:url(../images/l2.png) no-repeat;}
#indexschool #sleft .schoolimg .d1 .nextPage:hover{ background:url(../images/r2.png) no-repeat;}


#indexschool #sleft #huanjing { width:810px; height:150px; overflow:hidden; margin-top:30px;}
#indexschool #sleft #huanjing #toleft { float:left; cursor:pointer; width:30px; height:30px; margin-top:60px; overflow:hidden; background:url("../images/l.png")/*tpa=http://www.up-best.cn/images/l.png*/ no-repeat center center;}
#indexschool #sleft #huanjing #toright { float:right; cursor:pointer; width:30px; height:30px; margin-top:60px; overflow:hidden; background:url("../images/r.png")/*tpa=http://www.up-best.cn/images/r.png*/ no-repeat center center;}
#indexschool #sleft #huanjing #imgs { float:left; width:750px; height:150px; overflow:hidden; text-align:left; position:relative;}
#indexschool #sleft #huanjing #imgs ul { width:800px;}
#indexschool #sleft #huanjing #imgs ul li { float:left; width:240px; height:150px; margin-left:5px; margin-right:5px; text-align:center;}

#indexschool #sright { float:right; width:370px;height:480px; overflow:hidden; margin-top:85px;border:15px solid #b2daf1;border-radius: 10px;}
#indexschool #sright #input_place { width:370px; overflow:hidden; margin-top:0px;}
#indexschool #sright #input_place #writes { width:370px; border:0px; overflow:hidden;}
#indexschool #sright #input_place #writes #selarea { width:370px; overflow:hidden; margin-top:0px; margin-left:0px;}
#indexschool #sright #input_place #writes #selarea div { display:block; cursor:pointer;padding-top:40px; padding-bottom:10px; text-align:center; color:#0086d1; font-size:24px; text-decoration:none;}
#indexschool #sright #input_place #writes #sel { width:370px; margin-top:0px; position:relative; border-top:0px; overflow:hidden;}
#indexschool #sright #input_place #writes #sel #write { margin:0 auto; width:370px; padding-top:20px; position:relative;}/* background:url(../images/bg3.png) no-repeat center bottom;*/
#indexschool #sright #input_place #writes #sel #write #inputarea { width:370px; height:33px; margin-bottom:12px;}
#indexschool #sright #input_place #writes #sel #write #inputarea #lname { float:left; width:85px; text-align:center;}
#indexschool #sright #input_place #writes #sel #write #inputarea input { float:left;border:2px solid #0086D1;border-radius:10px;text-indent: 10px;} 
#indexschool #sright #input_place #writes #sel #write #inputarea textarea { float:left;border:2px solid #0086D1;border-radius:10px;text-indent: 10px;width:260px;height:105px;} 
#indexschool #sright #input_place #writes #sel #write #inputarea input.input1 { width:110px;}
#indexschool #sright #input_place #writes #sel #write #inputarea input.input2 { width:110px;}
#indexschool #sright #input_place #writes #sel #write #inputarea input.input3 { width:260px;}
#indexschool #sright #input_place #writes #sel #write #inputarea input.input4 { width:260px;}
#indexschool #sright #input_place #writes #sel #write #subbt input.sub1 {border:2px solid #0086D1;border-radius:10px;text-indent: 0px;width:100px;height:40px;line-height: 40px;color: #fff;background: #0086D1;font-size: 18px;text-align: center;margin: 20px 0px 0px 135px;cursor: pointer;} 


#indexschool #sright #indexournews { width:332px; overflow:hidden; margin-top:35px;}
#indexschool #sright #indexournews #title { width:332px; overflow:hidden; padding-bottom:10px; border-bottom:1px solid #E6E6E6;}
#indexschool #sright #indexournews #title #titlename { float:left; width:220px; overflow:hidden;}
#indexschool #sright #indexournews #title #titlename font { font-size:22px; line-height:35px; color:#0F0F0F;}
#indexschool #sright #indexournews #title #titlename span { font-size:22px; color:#E13B74; text-transform:uppercase; font-family:Georgia, "Times New Roman", Times, serif}
#indexschool #sright #indexournews #title #more { float:right; width:85px; overflow:hidden;}
#indexschool #sright #indexournews #title #more a { margin-top:30px; display:block; width:auto; background-color:#E13B74; padding-left:10px; padding-right:10px; float:right; color:#fff; text-transform:uppercase; font-size:13px;}
#indexschool #sright #indexournews #ournews { width:332px; overflow:hidden; margin-top:35px; padding-bottom:35px; border-bottom:1px dashed #D2D2D2;}
#indexschool #sright #indexournews #ournews #leftimg { float:left; text-align:left; width:142px; overflow:hidden;} 
#indexschool #sright #indexournews #ournews #rightinfo { float:left; width:190px; text-align:left; overflow:hidden;}
#indexschool #sright #indexournews #ournews #rightinfo #title { width:190px; overflow:hidden; height:20px; border-bottom:0px;}
#indexschool #sright #indexournews #ournews #rightinfo #title a { font-size:15px; color:#4A4A4A;}
#indexschool #sright #indexournews #ournews #rightinfo #title a:hover { color:#EC6626;}
#indexschool #sright #indexournews #ournews #rightinfo #notes { width:190px; overflow:hidden; margin-top:0px; text-align:left; font-size:14px; line-height:18px; color:#9B9A9A;}
#indexschool #sright #othernews { width:332px; overflow:hidden; margin-top:25px; color:#919191; font-size:14px; line-height:32px;}
#indexschool #sright #othernews a { color:#919191; font-size:15px; line-height:32px;}
#indexschool #sright #othernews a:hover { color:#E13B74;}

#indexactive { margin:0 auto; width:100%; height:535px; overflow:hidden; margin-top:50px; background:#0086d1/*tpa=http://www.up-best.cn/images/bg4.jpg*/ no-repeat center top;}
#indexactive #title4 { margin:0 auto; width:360px; overflow:hidden; text-align:center; margin-top:55px;}
#indexactive #title4 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#fff;}
#indexactive #title4 #en { width:360px; overflow:hidden; margin-top:10px;}
#indexactive #title4 #en #lline { float:left; width:30%; height:1px; overflow:hidden; border-top:1px solid #fff; margin-top:13px;}
#indexactive #title4 #en #rline { float:right; width:30%; height:1px; overflow:hidden; border-top:1px solid #fff; margin-top:13px;}
#indexactive #title4 #en #mword { float:left; width:40%; text-align:center; font-size:14px; color:#fff;}
#indexactive #title4 #img { width:136px;height: 4px;background: #fff; overflow:hidden; margin-top:12px; display: inline-block;}
#indexactive #alist { margin:0 auto; width:1200px; height:300px; position:relative;  overflow:hidden; margin-top:50px;}
#indexactive #alist #tleft { float:left; margin-left:10px; width:19px; height:38px; margin-top:120px; cursor:pointer; background:url("../images/tleft2.png")/*tpa=http://www.up-best.cn/images/tleft2.png*/ no-repeat left top;}
#indexactive #alist #tleft:hover { background-position:left -38px;}
#indexactive #alist #tright { float:right; margin-right:10px; width:19px; height:38px; margin-top:120px; cursor:pointer; background:url("../images/tright2.png")/*tpa=http://www.up-best.cn/images/tright2.png*/ no-repeat left top;}
#indexactive #alist #tright:hover { background-position:left -38px;}
#indexactive #alist #aarea { float:left; width:1200px;overflow:hidden;padding: 30px 0px;background: #fff;}
#indexactive #alist #aarea ul { width:1200px;overflow: hidden;margin-bottom: 10px;}
#indexactive #alist #aarea ul li { float:left; width:250px; height:220px; overflow:hidden; margin: 0px 25px;}
#indexactive #alist #aarea ul li a { display:block; width:250px; height:220px; position:relative;}
#indexactive #alist #aarea ul li a p { display:block; width:250px; color:#5A5A5A; font-size:15px; height:40px; text-align:center; padding-top:6px; padding-bottom:5px; background-color:#fff;}
#indexactive #alist #aarea ul li:hover a p { background-color:#0086d1; color:#FFF;}
#indexactive #alist .more{height:40px;line-height:40px;background: #046ba4;text-align: center;padding: 8px;}
#indexactive #alist .more a{font-size:18px;color: #fff;text-decoration: underline;}


#indexbaike { margin:0 auto; width:100%;  overflow:hidden; margin-top:0px; background:#fafafa;}
#indexbaike #title5 { margin:0 auto; width:360px; overflow:hidden; text-align:center; margin-top:55px;}
#indexbaike #title5 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#0086d1;}
#indexbaike #title5 #en { width:360px; overflow:hidden; margin-top:10px;}
#indexbaike #title5 #en #lline { float:left; width:28%; height:1px; overflow:hidden; border-top:1px solid #969696; margin-top:13px;}
#indexbaike #title5 #en #rline { float:right; width:28%; height:1px; overflow:hidden; border-top:1px solid #969696; margin-top:13px;}
#indexbaike #title5 #en #mword { float:left; width:44%; text-align:center; font-size:14px; color:#0086d1;}
#indexbaike #title5 #img { width:136px;height: 4px;background: #0086d1; overflow:hidden; margin-top:12px; display: inline-block;}

.team {width: 660px;padding: 30px 0px;margin: 0 auto;}
.team .swiper-container {width: 95%;padding: 10px 0px 30px;}
.team .swiper-slide {background-position: center;background-size: 130% 120%;width: 60%;height: 500px;}
.team .swiper-slide img {display: block;width: 100%;height: 500px;}
.team .page2{bottom: 0px;}
.team .page2 .swiper-pagination-bullet{background:#333;}
.team .page2 .swiper-pagination-bullet-active{background:#0086d1;}

#indexry { margin:0 auto; width:1200px; overflow:hidden; margin-top:35px;}
#indexry #sleft { float:left; width:700px; overflow:hidden;}
#indexry #sleft #title { width:700px; overflow:hidden;}
#indexry #sleft #title #titlename { float:left; width:600px; overflow:hidden;}
#indexry #sleft #title #titlename font { font-size:22px; line-height:35px; color:#0F0F0F;}
#indexry #sleft #title #titlename span { font-size:28px; color:#0086d1; text-transform:uppercase; font-family:Georgia, "Times New Roman", Times, serif}
#indexry ul{overflow: hidden;margin-top: 60px;}
#indexry ul li{width:280px;height:195px;float: left;margin: 20px 0px 0px 26px;}
#indexry ul li:nth-child(4n+1){margin-left: 0px;}
#indexry ul li img{width:280px;height:195px;}

#friends { margin:0 auto; width:1198px; overflow:hidden; margin-top:35px; border:1px solid #E2E2E2; border-radius:8px;}
#friends #links { margin:0 auto; width:1150px; text-align:left; margin-top:20px; margin-bottom:20px; text-decoration:none;}
#friends #links font { color:#000;}
#friends #links a { color:#929292;}
#friends #links a:hover { color:#E13B74;}


.footer_zn{height:305px;min-width: 1200px;margin-top: 30px;}
.footer_zn .ft_1{height:235px;background:#747474;}
.footer_zn .ft_1 .wrap{width:1200px;margin:  0 auto;position: relative;}
.footer_zn .ft_1 ul{float: left;padding:0px;margin:0px;margin-left: 80px;margin-top: 20px;overflow: hidden;}
.footer_zn .ft_1 ul li{line-height:28px ;font-size:18px;color:#fff;text-align: center;}
.footer_zn .ft_1 ul li a{color:#fff;}
.footer_zn .ft_1 ul li:hover a{text-decoration: underline;}
.footer_zn .ft_1 ul li.rwm{margin-top:10px;}
.footer_zn .ft_1 ul li.rl{font-size:16px;text-align: left;}
.footer_zn .ft_1 ul li.tel{line-height:40px;font-size:36px;text-align: left;font-weight: bold;text-indent: 40px;background:url(../images/png_32.png)no-repeat 0px 3px;margin-top: 10px;}
.footer_zn .ft_1 ul li.lx{height:54px;overflow: hidden;margin-top: 15px;}
.footer_zn .ft_1 ul li.lx a{display: block;width:54px;height:54px;float: left;margin-right:15px;}
.footer_zn .ft_1 ul li.lx a.qq{background:url(../images/png_31.png)no-repeat ;}
.footer_zn .ft_1 ul li.lx a.wb{background:url(../images/png_31.png)no-repeat -68px 0px ;}
.footer_zn .ft_1 ul li.lx a.wx{background:url(../images/png_31.png)no-repeat -136px 0px;}

.footer_zn .ft_2{line-height: 30px;text-align: center;font-size:18px;color:#fff;background: #565555;border-top: 1px solid #fff;padding: 10px 0px;}
.footer_zn .ft_2 p{color: #fff;}



#footer { margin:0 auto; width:100%; overflow:hidden; margin-top:60px; padding-bottom:30px; background:url("../images/bcolor.gif")/*tpa=http://www.up-best.cn/images/bcolor.gif*/ no-repeat center bottom; background-color:#535353;}
#footer #footerad { width:100%; text-align:center; color:#fff; background-color:#E13B74; font-size:15px; padding-top:10px; padding-bottom:10px;}
#footer #footerad a { color:#fff; font-size:15px;}
#footer #bottom { margin:0 auto; width:1200px; overflow:hidden; margin-top:70px; margin-bottom:50px;}
#footer #bottom #flink1 { float:left; width:104px; color:#fff; text-align:left; border-right:1px solid #8E8E8E; text-align:center; overflow:hidden;}
#footer #bottom #flink1 a { color:#fff;}
#footer #bottom #flink1 a:hover { text-decoration:underline;}
#footer #bottom #flink2 { float:left; width:169px; color:#fff; text-align:center; border-right:1px solid #8E8E8E; text-align:center; overflow:hidden;}
#footer #bottom #flink2 a { color:#fff;}
#footer #bottom #flink2 a:hover { text-decoration:underline;}
#footer #bottom #flogo { float:left; width:414px; color:#fff; text-align:center; border-right:1px solid #8E8E8E; overflow:hidden;}
#footer #bottom #flogo #img { margin:0 auto; width:295px; text-align:center; overflow:hidden;}
#footer #bottom #flogo #btel { margin:0 auto; width:295px; margin-top:10px; text-align:center; overflow:hidden; font-size:14px; color:#fff;}
#footer #bottom #flogo #btel font { font-size:22px; color:#F8C200; font-weight:bold;}
#footer #bottom #fcopy { float:left; width:350px; color:#fff; text-align:right; overflow:hidden;}
#footer #bottom #fcopy a { color:#fff;}
#footer #bottom #fcopy a:hover { color:#E13B74;}
#footer #bottom #fcopy * { color:#fff;}
#footer #bottom #fma { float:right; width:155px; text-align:right;}

#position { margin:0 auto; width:1200px; overflow:hidden; border-bottom:1px solid #E1E1E1; padding-bottom:18px; margin-top:40px;}
#position #pagename { float:left; width:600px; text-align:left; font-size:24px; color:#E13B74;}
#position #pagename a { display:block; border-right:1px solid #ccc; width:auto; float:left; margin-right:15px; padding-right:15px; font-size:24px; color:#E13B74; text-decoration:none; line-height:25px;}
#position #pagename a.noline { border-right:0px;}
/*#position #pagename a.on { color:#F60; border-bottom:1px dotted #F60;}*/

#position #pagepos { float:left; width:600px; text-align:right; font-size:14px; color:#646464;}
#position #pagepos a {  font-size:14px; color:#646464;}
#position #pagepos a:hover { text-decoration:underline;}

#pagemain { margin:0 auto; width:1200px; overflow:hidden; margin-top:30px;}
#pagemain #leftinfo { float:left; width:865px; overflow:hidden;}
#pagemain #leftinfo #title { width:865px; margin-top:40px; text-align:center; font-size:22px; color:#161616; overflow:hidden;}
#pagemain #leftinfo #line { width:865px; height:27px; background:url("../images/line2.gif")/*tpa=http://www.up-best.cn/images/line2.gif*/ no-repeat center center; margin-top:27px; overflow:hidden;}
#pagemain #leftinfo #pageword { width:773px; padding-left:45px; padding-right:45px; padding-top:25px; padding-bottom:25px; border:1px solid #E13B74; text-align:left; overflow:hidden; margin-top:30px; color:#6A6A6A; font-size:16px;} 
#pagemain #leftinfo #info {width:865px; overflow:hidden; margin-top:45px;}
#pagemain #leftinfo #info td { height:60px; border-bottom:1px dashed #E13B74; background-color:#FDF0F5; color:#161616;}
#pagemain #rightitems { float:right; width:280px; overflow:hidden;}
#pagemain #rightitems #ritems { width:280px; overflow:hidden; margin-bottom:40px;}
#pagemain #rightitems #ritems a { display:block; width:280px; border-bottom:1px dashed #EBAFC4; background-color:#FDF0F5; text-indent:20px; font-size:16px; color:#525252; overflow:hidden; text-decoration:none; padding-top:20px; padding-bottom:20px;}
#pagemain #rightitems #ritems a span { display:block; float:right; margin-right:15px; margin-top:0px; color:#E13B74; font-size:18px; font-family:'宋体';}
#pagemain #rightitems #ritems a.on { color:#fff; background-color:#E13B74;}
#pagemain #rightitems #ritems a.on span { color:#fff;}
#pagemain #rightitems #ritems a:hover { color:#fff; background-color:#E13B74;}
#pagemain #rightitems #ritems a:hover span { color:#fff;}
#pagemain #rightitems #reccourse { width:280px; overflow:hidden; margin-top:0px;}
#pagemain #rightitems #reccourse #title { width:280px; font-size:22px; color:#E13B74; border-bottom:1px solid #D6D6D6; padding-bottom:20px; overflow:hidden;}
#pagemain #rightitems #reccourse #title a { display:block; float:right; padding-left:8px; padding-right:8px; text-align:center; color:#fff; font-size:14px; background-color:#E13B74; text-decoration:none;}
#pagemain #rightitems #reccourse #imgs { width:280px; overflow:hidden; margin-top:28px; text-align:center;}
#pagemain #rightitems #reccourse #imgs img { width:280px; margin-bottom:28px;}

#pagemain #rightitems #recteacher { width:280px; overflow:hidden; margin-top:20px;}
#pagemain #rightitems #recteacher #title { width:280px; font-size:22px; color:#E13B74; border-bottom:1px solid #D6D6D6; padding-bottom:20px; overflow:hidden;}
#pagemain #rightitems #recteacher #title a { display:block; float:right; padding-left:8px; padding-right:8px; text-align:center; color:#fff; font-size:14px; background-color:#E13B74; text-decoration:none;}
#pagemain #rightitems #recteacher #imgs { width:280px; overflow:hidden; margin-top:28px; text-align:center;}
#pagemain #rightitems #recteacher #imgs img { width:280px; margin-bottom:28px;}

#pagemain #rightitems #rcontact { width:280px; margin-top:20px; padding-bottom:30px; background:url("../images/rcontact.jpg")/*tpa=http://www.up-best.cn/images/rcontact.jpg*/ no-repeat center top; background-color:#E13B74; overflow:hidden;}
#pagemain #rightitems #rcontact #tels { width:190px; padding-left:90px; margin-top:132px; text-align:left; overflow:hidden; color:#fff; font-size:20px; line-height:25px;}
#pagemain #rightitems #rcontact #address { width:220px; padding-left:40px; margin-top:30px; overflow:hidden; text-align:left; font-size:16px; line-height:30px; color:#fff;}
#pagemain #rightitems #rcontact #address * { color:#fff; font-size:16px;}

#pagemain #leftinfo #writearea { width:865px; overflow:hidden; margin-top:30px;}
#pagemain #leftinfo #writearea #wtitle { width:865px; overflow:hidden; height:160px; background:url("../images/wtitle.png")/*tpa=http://www.up-best.cn/images/wtitle.png*/ no-repeat left top; position:relative;}
#pagemain #leftinfo #writearea #warea { width:863px; background-color:#FFF7EF; border:1px solid #E13B74; margin-top:-20px; padding-top:45px; padding-bottom:45px;}
#pagemain #leftinfo #writearea #warea td { padding-top:10px; padding-bottom:10px; color:#161616; font-size:16px;}
#pagemain #leftinfo #writearea #warea td input.input { border:1px solid #D7D7D7; padding:4px; background-color:#FFF7EF; width:480px;}
#pagemain #leftinfo #writearea #warea td select.select1 { border:1px solid #D7D7D7; padding:8px; background-color:#FFF7EF; width:490px;}
#pagemain #leftinfo #writearea #warea td textarea.text { border:1px solid #D7D7D7; padding:4px; background-color:#FFF7EF; height:100px; width:480px;}
#pagemain #leftinfo #writearea #warea td input.sub { border:0px; background-color:#E13B74; color:#fff; font-size:18px; text-align:center; cursor:pointer; padding:40px; padding-top:10px; padding-bottom:10px; margin-top:10px;}

#pagemain #bktop { margin:0 auto; width:1200px; overflow:hidden;}
#pagemain #bktop #thead { float:left; width:845px; height:375px; overflow:hidden;}
#pagemain #bktop #thead #adarea { width:845px; height:375px; overflow:hidden;} 
#pagemain #bktop #thead #adarea ul { width:845px; height:375px; overflow:hidden;}
#pagemain #bktop #thead #adarea ul li { width:845px; height:375px; overflow:hidden; opacity:0;filter: alpha(opacity=0);position: absolute;}
#pagemain #bktop #thead #bts { margin:0 auto; width:300px; height:14px; overflow:hidden; position:relative; z-index:999; margin-top:-35px; margin-bottom:38px;}
#pagemain #bktop #thead #bts ul {display: table;margin:0 auto;text-align:center;padding:0;}
#pagemain #bktop #thead #bts ul li {float:left; width:14px; height:14px; margin-left:5px; margin-right:5px; overflow:hidden; cursor:pointer; background:url("../images/bullet.png")/*tpa=http://www.up-best.cn/images/bullet.png*/ no-repeat left top;}
#pagemain #bktop #thead #bts ul li.on { background:url("../images/bullet.png")/*tpa=http://www.up-best.cn/images/bullet.png*/ no-repeat left -14px;}

#pagemain #bktop #rwrite { float:right; width:330px; height:374px; overflow:hidden;}
#pagemain #bktop #rwrite #title { width:330px; height:80px; position:relative; overflow:hidden; background-color:#E13B74;}
#pagemain #bktop #rwrite #title p { display:block; width:138px; height:12px; background:url("../images/line3.gif")/*tpa=http://www.up-best.cn/images/line3.gif*/ no-repeat left top; float:right; top:0px;}
#pagemain #bktop #rwrite #title #thename { margin:0 auto; width:300px; text-align:left; overflow:hidden; margin-top:16px; font-size:24px; color:#FFF500;}
#pagemain #bktop #rwrite #title #word { margin:0 auto; width:300px; text-align:left; overflow:hidden; margin-top:5px; font-size:14px; color:#FFF;}
#pagemain #bktop #rwrite #title #word font { color:#FFF200;}
#pagemain #bktop #rwrite #wrt { width:328px; padding-top:23px; padding-bottom:23px; border:1px solid #F4B7CC; border-top:0px; margin-top:0px; overflow:hidden;}
#pagemain #bktop #rwrite #wrt td { height:48px; color:#2C2C2C;}
#pagemain #bktop #rwrite #wrt td input.input { border:1px solid #F4B7CC; padding:2px; width:180px;}
#pagemain #bktop #rwrite #wrt td select.select1 { border:1px solid #F4B7CC; padding:4px; width:186px;}
#pagemain #bktop #rwrite #wrt td input.sub { border:0px; margin-top:15px; width:140px; height:40px; text-align:center; color:#fff; font-size:18px; background-color:#E13B74; cursor:pointer;}

#pagemain #arts { margin:0 auto; width:1200px; overflow:hidden; margin-top:65px;}
#pagemain #arts ul { width:1300px;}
#pagemain #arts ul li { float:left; width:360px; margin-right:60px; overflow:hidden; margin-bottom:45px;}
#pagemain #arts ul li #title { width:360px; overflow:hidden;}
#pagemain #arts ul li #title #tleft { float:left; width:300px; text-align:left; font-size:22px; color:#F6B500;}
#pagemain #arts ul li #title #tleft span { color:#666666; font-size:12px; text-transform:uppercase;}
#pagemain #arts ul li #title #tmore { float:right; width:60px; overflow:hidden;}
#pagemain #arts ul li #title #tmore a { font-size:14px; margin-top:5px; display:block; padding-left:5px; padding-right:5px; padding-top:0px; padding-bottom:0px; background-color:#E13B74; color:#fff; text-align:center;}
#pagemain #arts ul li #img { width:360px; height:170px; margin-top:25px; overflow:hidden;}
#pagemain #arts ul li #list { width:360px; margin-top:25px; overflow:hidden; text-align:left;}
#pagemain #arts ul li #list a { display:block; width:360px; margin-bottom:5px; text-align:left; position:relative; font-size:14px; color:#4F4F4F;}
#pagemain #arts ul li #list a:hover { color:#E13B74;}
#pagemain #arts ul li #list a span { display:block; float:right; text-align:right; font-size:14px; color:#A9A9A9;}

#pagemain #qicai { margin:0 auto; width:1200px; overflow:hidden; margin-top:0px;}
#pagemain #qicai #title { width:1200px; overflow:hidden;}
#pagemain #qicai #title #tleft { float:left; width:500px; text-align:left; font-size:22px; color:#F6B500;}
#pagemain #qicai #title #tleft span { color:#666666; font-size:12px; text-transform:uppercase;}
#pagemain #qicai #title #tmore { float:right; width:60px; overflow:hidden;}
#pagemain #qicai #title #tmore a { font-size:14px; margin-top:5px; display:block; padding-left:5px; padding-right:5px; padding-top:0px; padding-bottom:0px; background-color:#E13B74; color:#fff; text-align:center;}
#pagemain #qicai #qlist { width:1200px; overflow:hidden; margin-top:40px;}
#pagemain #qicai #qlist ul { width:1300px;}
#pagemain #qicai #qlist ul li { float:left; width:280px; height:180px; margin-right:27px; margin-bottom:27px; overflow:hidden; position:relative;}
#pagemain #qicai #qlist ul li a { display:block; width:260px; height:100px; padding-left:10px; padding-right:10px; padding-top:80px; text-align:center; color:#fff; font-size:14px; position:absolute; left:0px; top:180px; background:url("../images/mask2.png")/*tpa=http://www.up-best.cn/images/mask2.png*/ repeat left top;}
#pagemain #qicai #qlist ul li:hover a { top:0px;}

#pagemain #ad { margin:0 auto; width:1200px; overflow:hidden; margin-top:15px;}

#pagemain #reccase { margin:0 auto; width:1200px; overflow:hidden; margin-top:45px; margin-bottom:30px;}
#pagemain #reccase #title { width:1200px; overflow:hidden;}
#pagemain #reccase #title #tleft { float:left; width:500px; text-align:left; font-size:22px; color:#555555;}
#pagemain #reccase #title #tleft span { color:#666666; font-size:12px; text-transform:uppercase;}
#pagemain #reccase #title #tmore { float:right; width:60px; overflow:hidden;}
#pagemain #reccase #title #tmore a { font-size:14px; margin-top:5px; display:block; padding-left:5px; padding-right:5px; padding-top:0px; padding-bottom:0px; background-color:#E13B74; color:#fff; text-align:center;}
#pagemain #reccase #sarea {width:1200px; overflow:hidden; margin-top:30px;}
#pagemain #reccase #sarea ul { width:1300px;}
#pagemain #reccase #sarea ul li { float:left; width:280px; height:280px; margin-right:26px;}
#pagemain #reccase #sarea ul li a { display:block; width:315px; height:180px; margin:0px; padding:0px; position:relative;}
#pagemain #reccase #sarea ul li a p { display:none; position:absolute; width:280px; height:180px; background:url("../images/mask1.png")/*tpa=http://www.up-best.cn/images/mask1.png*/ no-repeat left top; left:0px; top:0px;}
#pagemain #reccase #sarea ul li:hover a p { display:block;}
#pagemain #reccase #sarea ul li span { display:block; width:280px; margin-top:7px; text-align:center; color:#333; font-size:15px;}
#pagemain #reccase #sarea ul li:hover span { color:#E13B74;}

#pagemain #leftinfo #teachers { width:865px; overflow:hidden; border-bottom:1px dashed #AEAEAE; padding-bottom:30px; margin-bottom:30px;}
#pagemain #leftinfo #teachers #leftimg { float:left; width:300px; text-align:left; overflow:hidden;}
#pagemain #leftinfo #teachers #rightdata { float:right; width:565px; text-align:left; overflow:hidden;}
#pagemain #leftinfo #teachers #rightdata #title { width:565px; text-align:left; margin-top:0px; overflow:hidden;}
#pagemain #leftinfo #teachers #rightdata #title a { font-size:22px; color:#575757;}
#pagemain #leftinfo #teachers #rightdata #title a:hover { color:#E13B74;}
#pagemain #leftinfo #teachers #rightdata #notes { width:565px; text-align:left; overflow:hidden; margin-top:20px; color:#898989; line-height:25px; font-size:14px;}
#pagemain #leftinfo #teachers #rightdata #viewmore { width:565px; text-align:right; overflow:hidden; margin-top:25px;} 
#pagemain #leftinfo #teachers #rightdata #viewmore a { display:block; float:right; background-color:#3B98E1; font-size:16px; text-align:center; color:#fff; text-decoration:none; width:120px; height:30px; padding-top:3px;}
#pagemain #leftinfo #teachers #rightdata #viewmore a:hover { background-color:#E13B74;}

#pagemain #leftinfo #page_page { width:865px; overflow:hidden; text-align:center; padding-top:20px; padding-bottom:50px;}

#pagemain #leftinfo #page_content { width:865px; overflow:hidden; margin-top:50px;}
#pagemain #leftinfo #page_content #tbigimg { width:865px; text-align:center; overflow:hidden;}
#pagemain #leftinfo #page_content #tename { width:865px; text-align:left; font-size:22px; color:#575757; margin-top:75px;} 
#pagemain #leftinfo #page_content #content_view { width:865px; font-size:14px; line-height:30px; color:#898989; margin-top:30px;}
#pagemain #leftinfo #page_content #content_view img { max-width:865px;}
#pagemain #leftinfo #page_content #jiyu { width:803px; padding:30px; font-size:14px; border:1px solid #D6D6D6; border-radius:10px; line-height:30px; color:#898989; margin-top:35px;} 
#pagemain #leftinfo #page_content #jiyu b { font-weight:bold; color:#000000;}
#pagemain #leftinfo #page_content #jiyu img { max-width:800px;}

#pagemain #leftinfo #students { width:865px; overflow:hidden; border-bottom:1px dashed #AEAEAE; padding-bottom:30px; margin-bottom:30px;}
#pagemain #leftinfo #students #leftimg { float:left; width:310px; text-align:left; overflow:hidden;}
#pagemain #leftinfo #students #rightdata { float:right; width:555px; text-align:left; overflow:hidden;}
#pagemain #leftinfo #students #rightdata #notes { width:555px; text-align:left; overflow:hidden; margin-top:0px; color:#898989; line-height:25px; font-size:15px;}
#pagemain #leftinfo #students #rightdata #notes b { font-weight:normal; color:#000; font-size:15px;}
#pagemain #leftinfo #students #rightdata #viewmore { width:555px; text-align:right; overflow:hidden; margin-top:20px;} 
#pagemain #leftinfo #students #rightdata #viewmore a { display:block; float:left; background-color:#3B98E1; font-size:16px; text-align:center; color:#fff; text-decoration:none; width:120px; height:30px; padding-top:3px;}
#pagemain #leftinfo #students #rightdata #viewmore a:hover { background-color:#E13B74;}

#pagemain #leftinfo #sttop { width:865px; overflow:hidden;}
#pagemain #leftinfo #sttop #limg { float:left; width:420px; text-align:left;}
#pagemain #leftinfo #sttop #rdata { float:right; width:420px; text-align:left; overflow:hidden;}
#pagemain #leftinfo #sttop #rdata #name { width:420px; text-align:left; font-size:30px; line-height:30px; color:#434343;}
#pagemain #leftinfo #sttop #rdata #course { width:370px; overflow:hidden; margin-top:16px; padding-top:5px; padding-bottom:5px; background-color:#F8C300; font-size:18px; color:#fff; text-indent:10px;}
#pagemain #leftinfo #sttop #rdata #notes { width:420px; margin-top:16px; overflow:hidden; text-align:left; font-size:14px; color:#434343; line-height:30px;}

#pagemain #leftinfo #theinfo { width:865px; overflow:hidden; margin-top:20px;}
#pagemain #leftinfo #theinfo #title { width:865px; overflow:hidden; border-bottom:1px solid #E13B74; text-align:left; color:#E13B74; font-size:22px; padding-bottom:10px;}
#pagemain #leftinfo #theinfo #contents { width:865px; overflow:hidden; margin-top:20px; text-align:left; font-size:14px; color:#434343; line-height:30px;} 
#pagemain #leftinfo #theinfo #contents img { max-width:865px;}

#pagemain #leftinfo #pingjia { width:865px; overflow:hidden; margin-top:60px;}
#pagemain #leftinfo #pingjia #row { width:865px; overflow:hidden; height:41px; background:url("../images/row.png")/*tpa=http://www.up-best.cn/images/row.png*/ no-repeat 85px top;}
#pagemain #leftinfo #pingjia #words { width:785px; border-radius:10px; background-color:#FB7EA9; padding:40px;}
#pagemain #leftinfo #pingjia #words #title { margin:0 auto; width:785px; overflow:hidden;}
#pagemain #leftinfo #pingjia #words #title #name { float:left; text-align:left; width:100px;line-height:35px; background-color:#FB7EA9; color:#fff; font-size:22px; padding-right:10px;}
#pagemain #leftinfo #pingjia #words #title #theline { float:right; width:685px; overflow:hidden; margin-top:-17px; height:1px; border-bottom:1px dashed #fff;}
#pagemain #leftinfo #pingjia #words #pj { margin:0 auto; width:785px; overflow:hidden; margin-top:25px; line-height:30px; color:#fff;} 
#pagemain #leftinfo #pingjia #words #pj * { color:#fff;}

#pagemain #leftinfo #news { width:865px; overflow:hidden; border-bottom:1px dashed #AEAEAE; padding-bottom:30px; margin-bottom:30px;}
#pagemain #leftinfo #news #leftimg { float:left; width:280px; text-align:left; overflow:hidden;}
#pagemain #leftinfo #news #rightdata { float:right; width:585px; text-align:left; overflow:hidden;}
#pagemain #leftinfo #news #rightdata #title { width:585px; text-align:left; overflow:hidden; margin-top:0px;}
#pagemain #leftinfo #news #rightdata #title a { font-size:21px; color:#474747;}
#pagemain #leftinfo #news #rightdata #title a:hover { color:#E13B74}
#pagemain #leftinfo #news #rightdata #notes { width:585px; text-align:left; overflow:hidden; margin-top:20px; color:#B2B2B2; line-height:25px; font-size:15px;}
#pagemain #leftinfo #news #rightdata #viewmore { width:585px; text-align:right; overflow:hidden; margin-top:20px;} 
#pagemain #leftinfo #news #rightdata #viewmore a { display:block; float:left; background-color:#3B98E1; font-size:16px; text-align:center; color:#fff; text-decoration:none; width:120px; height:30px; padding-top:3px;}
#pagemain #leftinfo #news #rightdata #viewmore a:hover { background-color:#E13B74;}

#pagemain #leftinfo #page_title {width:865px; text-align:center; font-size:30px; line-height:35px; color:#474747; overflow:hidden; margin-top:30px; text-align:center;}
#pagemain #leftinfo #page_title p { text-align:center; color:#B2B2B2; font-size:15px; width:100%; overflow:hidden; margin-top:20px;}

#pagemain #leftinfo #aboutcontent { width:865px; overflow:hidden; margin-top:40px; font-size:15px; color:#8D8D8D; line-height:30px;}
#pagemain #leftinfo #aboutcontent * { line-height:30px;}
#pagemain #leftinfo #aboutcontent img { max-width:865px;}

#pagemain #leftinfo #otherlink { width:865px; overflow:hidden; margin-top:60px; border-top:1px dashed #ccc; text-align:left; padding-top:15px;}

#pagemain #leftinfo #qlist { width:865px; overflow:hidden; margin-top:5px;}
#pagemain #leftinfo #qlist ul { width:900px;}
#pagemain #leftinfo #qlist ul li { float:left; width:280px; height:180px; margin-right:20px; margin-bottom:27px; overflow:hidden; position:relative;}
#pagemain #leftinfo #qlist ul li a { display:block; width:260px; height:100px; padding-left:10px; padding-right:10px; padding-top:80px; text-align:center; color:#fff; font-size:14px; position:absolute; left:0px; top:180px; background:url("../images/mask2.png")/*tpa=http://www.up-best.cn/images/mask2.png*/ repeat left top;}
#pagemain #leftinfo #qlist ul li:hover a { top:0px;}

#pagemain #leftitems { float:left; width:280px; overflow:hidden;}
#pagemain #leftitems #ritems { width:280px; overflow:hidden; margin-bottom:40px;}
#pagemain #leftitems #ritems a { display:block; width:280px; border-bottom:1px dashed #EBAFC4; background-color:#FDF0F5; text-indent:20px; font-size:16px; color:#525252; overflow:hidden; text-decoration:none; padding-top:20px; padding-bottom:20px;}
#pagemain #leftitems #ritems a span { display:block; float:right; margin-right:20px; margin-top:0px; color:#E13B74; font-size:18px; font-family:'宋体';}
#pagemain #leftitems #ritems a.on { color:#fff; background-color:#E13B74;}
#pagemain #leftitems #ritems a.on span { color:#fff;}
#pagemain #leftitems #ritems a:hover { color:#fff; background-color:#E13B74;}
#pagemain #leftitems #ritems a:hover span { color:#fff;}
#pagemain #leftitems #reccourse { width:280px; overflow:hidden; margin-top:0px;}
#pagemain #leftitems #reccourse #title { width:280px; font-size:22px; color:#E13B74; border-bottom:1px solid #D6D6D6; padding-bottom:20px; overflow:hidden;}
#pagemain #leftitems #reccourse #title a { display:block; float:right; padding-left:8px; padding-right:8px; text-align:center; color:#fff; font-size:14px; background-color:#E13B74; text-decoration:none;}
#pagemain #leftitems #reccourse #imgs { width:280px; overflow:hidden; margin-top:28px; text-align:center;}
#pagemain #leftitems #reccourse #imgs img { width:280px; margin-bottom:28px;}

#pagemain #leftitems #recteacher { width:280px; overflow:hidden; margin-top:20px;}
#pagemain #leftitems #recteacher #title { width:280px; font-size:22px; color:#E13B74; border-bottom:1px solid #D6D6D6; padding-bottom:20px; overflow:hidden;}
#pagemain #leftitems #recteacher #title a { display:block; float:right; padding-left:8px; padding-right:8px; text-align:center; color:#fff; font-size:14px; background-color:#E13B74; text-decoration:none;}
#pagemain #leftitems #recteacher #imgs { width:280px; overflow:hidden; margin-top:28px; text-align:center;}
#pagemain #leftitems #recteacher #imgs img { width:280px; margin-bottom:28px;}

#pagemain #leftitems #rcontact { width:280px; padding-bottom:30px; margin-top:20px; background:url("../images/rcontact.jpg")/*tpa=http://www.up-best.cn/images/rcontact.jpg*/ no-repeat center top; background-color:#E13B74; overflow:hidden;}
#pagemain #leftitems #rcontact #tels { width:190px; padding-left:90px; margin-top:132px; text-align:left; overflow:hidden; color:#fff; font-size:20px; line-height:25px;}
#pagemain #leftitems #rcontact #address { width:220px; padding-left:40px; margin-top:30px; overflow:hidden; text-align:left; font-size:16px; line-height:30px; color:#fff;}
#pagemain #leftitems #rcontact #address * { color:#fff; font-size:16px;}

#pagemain #right_info { float:right; width:885px; overflow:hidden;}
#pagemain #right_info #page_name { width:885px; text-align:left; overflow:hidden; margin-top:0px;}
#pagemain #right_info #page_title {width:885px; text-align:center; font-size:30px; line-height:35px; color:#474747; overflow:hidden; margin-top:50px; text-align:center;}
#pagemain #right_info #page_title p { text-align:center; color:#B2B2B2; font-size:15px; width:100%; overflow:hidden; margin-top:20px;}

#pagemain #right_info #aboutcontent { width:885px; overflow:hidden; margin-top:40px; font-size:15px; color:#8D8D8D; line-height:30px;}
#pagemain #right_info #aboutcontent * { line-height:30px;}
#pagemain #right_info #aboutcontent img { max-width:885px;}

#pagemain #right_info #otherlink { width:885px; overflow:hidden; margin-top:60px; border-top:1px dashed #ccc; text-align:left; padding-top:15px;}

#pagemain #right_info #schools { width:885px; overflow:hidden; margin-top:40px;}
#pagemain #right_info #schools #sname { width:414px; height:48px; overflow:hidden; background:url("../images/qqbg.jpg")/*tpa=http://www.up-best.cn/images/qqbg.jpg*/ no-repeat left top;}
#pagemain #right_info #schools #sname span { display:block; float:left; width:204px; height:38px; padding-top:10px; text-align:left; text-indent:15px; font-size:22px; color:#fff;}
#pagemain #right_info #schools #sname a { display:block; width:210px; height:48px; float:right;}
#pagemain #right_info #schools #sname:hover { background-position:left -48px;}
#pagemain #right_info #schools #contents { width:885px; text-align:left; font-size:14px; color:#8D8D8D; line-height:30px; overflow:hidden; margin-top:25px; margin-bottom:70px;}
#pagemain #right_info #schools #contents img { max-width:885px;}

#pagemain #right_info #photos { width:885px; overflow:hidden; margin-top:40px;}
#pagemain #right_info #photos ul { width:1000px;}
#pagemain #right_info #photos ul li { float:left; width:280px; height:180px; text-align:center; overflow:hidden; margin-right:20px; margin-bottom:45px; position:relative;}
#pagemain #right_info #photos ul li a { display:block; position:absolute; font-size:16px; color:#fff; width:260px; padding-left:10px; padding-right:10px; height:180px; text-align:center; overflow:hidden; left:0px; top:180px; background:url("../images/mask2.png")/*tpa=http://www.up-best.cn/images/mask2.png*/ repeat left top;}
#pagemain #right_info #photos ul li a p { display:block; margin:0 auto; width:260px; position:relative; z-index:99; height:46px; background:url("../images/jia.png")/*tpa=http://www.up-best.cn/images/jia.png*/ no-repeat center center; margin-top:50px; margin-bottom:10px;}

#pagemain #right_info #page_page { width:885px; overflow:hidden; text-align:center; padding-top:20px; padding-bottom:50px;}

#pagemain #right_info #news { width:885px; overflow:hidden; border-bottom:1px dashed #AEAEAE; padding-bottom:30px; margin-bottom:30px;}
#pagemain #right_info #news #leftimg { float:left; width:280px; text-align:left; overflow:hidden;}
#pagemain #right_info #news #rightdata { float:right; width:605px; text-align:left; overflow:hidden;}
#pagemain #right_info #news #rightdata #title { width:605px; text-align:left; overflow:hidden; margin-top:0px;}
#pagemain #right_info #news #rightdata #title a { font-size:21px; color:#474747;}
#pagemain #right_info #news #rightdata #title a:hover { color:#E13B74}
#pagemain #right_info #news #rightdata #notes { width:605px; text-align:left; overflow:hidden; margin-top:20px; color:#B2B2B2; line-height:25px; font-size:15px;}
#pagemain #right_info #news #rightdata #viewmore { width:605px; text-align:right; overflow:hidden; margin-top:20px;} 
#pagemain #right_info #news #rightdata #viewmore a { display:block; float:left; background-color:#3B98E1; font-size:16px; text-align:center; color:#fff; text-decoration:none; width:120px; height:30px; padding-top:3px;}
#pagemain #right_info #news #rightdata #viewmore a:hover { background-color:#E13B74;}

#topad { width:100%; text-align:center; overflow:hidden; margin-top:0px;}
#topad #ad { width:1900px; overflow:hidden; position:relative; margin-left:-950px; left:50%; text-align:center;}

#join_area1 { margin:0 auto; width:1200px; overflow:hidden; margin-top:0px;}
#join_area1 #title1 { margin:0 auto; width:360px; overflow:hidden; text-align:center; margin-top:55px;}
#join_area1 #title1 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#424242;}
#join_area1 #title1 #en { width:360px; overflow:hidden; margin-top:10px;}
#join_area1 #title1 #en #lline { float:left; width:25%; height:1px; overflow:hidden; border-top:1px solid #DADADA; margin-top:13px;}
#join_area1 #title1 #en #rline { float:right; width:25%; height:1px; overflow:hidden; border-top:1px solid #DADADA; margin-top:13px;}
#join_area1 #title1 #en #mword { float:left; width:50%; text-align:center; font-size:14px; color:#BBBBBB;}
#join_area1 #title1 #img { width:360px; overflow:hidden; margin-top:12px; text-align:center;}
#join_area1 #content { margin:0 auto; width:1167px; height:437px; background:url("../images/join/bg1.jpg")/*tpa=http://www.up-best.cn/images/join/bg1.jpg*/ no-repeat left top; overflow:hidden; margin-top:20px;}
#join_area1 #content #notes { width:690px; height:240px; overflow:hidden; margin-left:25px; margin-top:105px; line-height:30px; font-size:15px;}

#join_area2 { margin:0 auto; width:100%; max-width:1900px; overflow:hidden; margin-top:10px; padding-bottom:100px; background-color:#FFF400;}
#join_area2 #title2 { margin:0 auto; width:360px; overflow:hidden; text-align:center; margin-top:75px;}
#join_area2 #title2 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#424242;}
#join_area2 #title2 #en { width:360px; overflow:hidden; margin-top:10px;}
#join_area2 #title2 #en #lline { float:left; width:25%; height:1px; overflow:hidden; border-top:1px solid #C0C0C0; margin-top:13px;}
#join_area2 #title2 #en #rline { float:right; width:25%; height:1px; overflow:hidden; border-top:1px solid #C0C0C0; margin-top:13px;}
#join_area2 #title2 #en #mword { float:left; width:50%; text-align:center; font-size:14px; color:#424242;}
#join_area2 #title2 #img { width:360px; overflow:hidden; margin-top:12px; text-align:center;}

#join_area2 #items { margin:0 auto; width:1200px; overflow:hidden; margin-top:100px;}
#join_area2 #items ul { width:1400px;}
#join_area2 #items ul li { float:left; width:210px; text-align:center; font-size:18px; color:#4B4B4B; margin-left:40px; margin-right:40px; line-height:30px;}
#join_area2 #items ul li font { color:#FF6000; font-size:18px; line-height:30px;}
#join_area2 #items ul li img { margin-bottom:20px;}

#join_area3 { margin:0 auto; width:100%; height:1196px; background:url("../images/join/bg2.jpg")/*tpa=http://www.up-best.cn/images/join/bg2.jpg*/ no-repeat center top; overflow:hidden; margin-top:0px;}
#join_area3 #title3 { margin:0 auto; width:360px; overflow:hidden; text-align:center; margin-top:55px;}
#join_area3 #title3 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#424242;}
#join_area3 #title3 #en { width:360px; overflow:hidden; margin-top:10px;}
#join_area3 #title3 #en #lline { float:left; width:25%; height:1px; overflow:hidden; border-top:1px solid #A4A4A4; margin-top:13px;}
#join_area3 #title3 #en #rline { float:right; width:25%; height:1px; overflow:hidden; border-top:1px solid #A4A4A4; margin-top:13px;}
#join_area3 #title3 #en #mword { float:left; width:50%; text-align:center; font-size:14px; color:#8E8E8E;}
#join_area3 #title3 #img { width:360px; overflow:hidden; margin-top:12px; text-align:center;}

#join_area3 #showplace { margin:0 auto; width:1200px; overflow:hidden; background:url("../images/join/mask1.png")/*tpa=http://www.up-best.cn/images/join/mask1.png*/ repeat left top; margin-top:50px;}
#join_area3 #showplace #word { width:1100px; overflow:hidden; margin:0 auto; margin-top:50px; margin-bottom:50px;}
#join_area3 #showplace #word td { color:#3F3F3F; font-size:15px; line-height:30px; vertical-align:top;}
#join_area3 #showplace #word td img { margin-top:10px;}
#join_area3 #showplace #tubiao { width:1200px; overflow:hidden;}
#join_area3 #showplace #sword { width:1200px; overflow:hidden; background-color:#1E72F3; padding-top:10px; padding-bottom:10px; text-indent:20px; font-size:16px; color:#fff;}

#join_area4 { margin:0 auto; width:1200px; overflow:hidden; margin-top:0px;}
#join_area4 #title4 { margin:0 auto; width:360px; overflow:hidden; text-align:center; margin-top:55px;}
#join_area4 #title4 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#424242;}
#join_area4 #title4 #en { width:360px; overflow:hidden; margin-top:10px;}
#join_area4 #title4 #en #lline { float:left; width:25%; height:1px; overflow:hidden; border-top:1px solid #DADADA; margin-top:13px;}
#join_area4 #title4 #en #rline { float:right; width:25%; height:1px; overflow:hidden; border-top:1px solid #DADADA; margin-top:13px;}
#join_area4 #title4 #en #mword { float:left; width:50%; text-align:center; font-size:14px; color:#BBBBBB;}
#join_area4 #title4 #img { width:360px; overflow:hidden; margin-top:12px; text-align:center;}
#join_area4 #maps { margin:0 auto; width:1200px; overflow:hidden; margin-top:55px;}
#join_area4 #maps #mleft { float:left; width:350px; height:670px; overflow:hidden; background:url("../images/join/bg3.jpg")/*tpa=http://www.up-best.cn/images/join/bg3.jpg*/ no-repeat left top;}
#join_area4 #maps #mleft div { margin:0 auto; width:300px; overflow:hidden; margin-top:134px; text-align:left; font-size:16px; line-height:35px; color:#fff;}
#join_area4 #maps #mleft div span { font-size:30px; color:#fff; line-height:40px;}
#join_area4 #maps #mright { float:right; width:850px; height:670px; overflow:hidden; text-align:center;}

#join_area5 { margin:0 auto; width:100%; height:775px; background:url("../images/join/bg4.jpg")/*tpa=http://www.up-best.cn/images/join/bg4.jpg*/ no-repeat center top; overflow:hidden; margin-top:0px;}
#join_area5 #title5 { margin:0 auto; width:360px; overflow:hidden; text-align:center; margin-top:55px;}
#join_area5 #title5 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#fff;}
#join_area5 #title5 #en { width:360px; overflow:hidden; margin-top:10px;}
#join_area5 #title5 #en #lline { float:left; width:25%; height:1px; overflow:hidden; border-top:1px solid #fff; margin-top:13px;}
#join_area5 #title5 #en #rline { float:right; width:25%; height:1px; overflow:hidden; border-top:1px solid #fff; margin-top:13px;}
#join_area5 #title5 #en #mword { float:left; width:50%; text-align:center; font-size:14px; color:#fff;}
#join_area5 #title5 #img { width:360px; overflow:hidden; margin-top:12px; text-align:center;}

#join_area5 #infos { margin:0 auto; position:relative; width:1188px; height:510px; background:url("../images/join/bg4-1.png")/*tpa=http://www.up-best.cn/images/join/bg4-1.png*/ no-repeat center top; margin-top:55px;}
#join_area5 #infos #w1 { position:absolute; width:170px; height:130px; left:55px; top:195px; text-align:left; font-size:18px; color:#686868; line-height:30px;}
#join_area5 #infos #w2 { position:absolute; width:170px; height:130px; left:520px; top:105px; text-align:left; font-size:18px; color:#686868; line-height:30px;}
#join_area5 #infos #w3 { position:absolute; width:170px; height:130px; right:35px; top:220px; text-align:left; font-size:18px; color:#686868; line-height:30px;}

#join_area6 { margin:0 auto; height:1335px; background:url("../images/join/bg5.jpg")/*tpa=http://www.up-best.cn/images/join/bg5.jpg*/ no-repeat center top; overflow:hidden; margin-top:0px;}
#join_area6 #title6 { margin:0 auto; width:360px; overflow:hidden; text-align:center; margin-top:55px;}
#join_area6 #title6 #name { width:360px; text-align:center; font-size:30px; font-weight:bold; color:#424242;}
#join_area6 #title6 #en { width:360px; overflow:hidden; margin-top:10px;}
#join_area6 #title6 #en #lline { float:left; width:25%; height:1px; overflow:hidden; border-top:1px solid #C0C0C0; margin-top:13px;}
#join_area6 #title6 #en #rline { float:right; width:25%; height:1px; overflow:hidden; border-top:1px solid #C0C0C0; margin-top:13px;}
#join_area6 #title6 #en #mword { float:left; width:50%; text-align:center; font-size:14px; color:#665656;}
#join_area6 #title6 #img { width:360px; overflow:hidden; margin-top:12px; text-align:center;}
#join_area6 #fuchi { margin:0 auto; width:1200px; overflow:hidden; margin-top:75px; position:relative;}
#join_area6 #fuchi ul { width:1300px;}
#join_area6 #fuchi ul li { float:left; width:400px; height:258px; margin-left:1px; margin-bottom:1px; background:url("../images/join/lg.png")/*tpa=http://www.up-best.cn/images/join/lg.png*/ no-repeat 260px 20px;}
#join_area6 #fuchi ul li #name { margin:0 auto; width:340px; text-align:left; margin-top:35px; font-size:30px; color:#fff;}
#join_area6 #fuchi ul li #name img { vertical-align:middle;}
#join_area6 #fuchi ul li #word { margin:0 auto; width:340px; text-align:left; margin-top:25px; font-size:15px; color:#fff;}
#join_area6 #fuchi ul li #best { margin:0 auto; width:318px; margin-top:100px;}

#joinwrite { margin:0 auto; margin:0 auto; width:1200px; background-color:#fff; overflow:hidden; margin-top:45px; -webkit-box-shadow: 10px 10px 10px #EBEBEB; -moz-box-shadow: 10px 10px 10px #EBEBEB; box-shadow: 10px 10px 10px #EBEBEB;}
#joinwrite #leftinfo { float:left; width:745px; height:455px; background:url("../images/join/kf.png")/*tpa=http://www.up-best.cn/images/join/kf.png*/ no-repeat left 96px; background-color:#E13B74;}
#joinwrite #leftinfo #bigword { margin:0 auto; width:662px; overflow:hidden; margin-top:25px;}
#joinwrite #leftinfo #intro { width:450px; float:right; margin-top:25px; text-align:left; overflow:hidden; margin-right:40px;}
#joinwrite #leftinfo #intro #thename { width:450px; overflow:hidden; text-align:left; font-size:22px; color:#fff; border-bottom:1px solid #fff; padding-bottom:25px;}
#joinwrite #leftinfo #intro #thename span { color:#fff; font-size:14px; color:#fff;}
#joinwrite #leftinfo #intro #word { width:450px; overflow:hidden; margin-top:25px; color:#fff; font-size:15px; line-height:26px;} 
#joinwrite #rightw { float:right; width:454px; height:453px; border:1px solid #DBDBDB; border-left:0px;}

#joinwrite #rightw #writeinfo { margin:0 auto; width:380px; overflow:hidden; margin-top:40px;}
#joinwrite #rightw #writeinfo #title { width:380px; overflow:hidden; text-align:left; font-size:22px; color:#E13B74;}
#joinwrite #rightw #writeinfo #title span { color:#E13B74; font-size:14px; color:#E13B74;}
#joinwrite #rightw #writeinfo #infoarea { width:380px; overflow:hidden; margin-top:30px;}
#joinwrite #rightw #writeinfo #infoarea td { height:40px; color:#BBBBBB; font-size:16px;}
#joinwrite #rightw #writeinfo #infoarea td input.input { border:1px solid #DBDBDB; width:262px; padding:4px; font-size:16px; line-height:16px;}
#joinwrite #rightw #writeinfo #infoarea td select.sel { border:1px solid #DBDBDB; width:272px; padding:4px; font-size:16px; line-height:16px;}
#joinwrite #rightw #writeinfo #infoarea td textarea.text { margin-top:5px; border:1px solid #DBDBDB; width:262px; height:100px; padding:4px; font-size:16px; line-height:16px;}
#joinwrite #rightw #writeinfo #infoarea td input.sub { border:0px; background-color:#E13B74; cursor:pointer; font-size:18px; color:#fff; text-align:center; width:126px; height:40px; margin-top:15px;}
#joinwrite #rightw #writeinfo #infoarea td input.sub:hover { background-color:#F00;}
#blank { margin:0 auto; margin:0 auto; width:1200px; height:50px;}

#pagetel { width:140px; height:507px; margin:auto; right:0; top:0; bottom:0; text-align:center; overflow:hidden; background:url("../images/floatimg/rbg.png")/*tpa=http://www.up-best.cn/images/floatimg/rbg.png*/ no-repeat center top; position:fixed; z-index:999;}
#pagetel #rbts { margin:0 auto; width:111px; margin-top:190px; text-align:center; position:relative; overflow:hidden;}
#pagetel #rbts span { cursor:pointer;}
#pagetel #rbts span img { margin-bottom:13px;}

#shengming { width:61px; height:173px; margin:auto; left:-3px; top:0; bottom:0; border-radius:0px 10px 10px 0px; text-align:center; overflow:hidden; position:fixed; z-index:999;}

#pagemain #sysview { margin:0 auto; width:1200px; overflow:hidden; margin-top:30px;}
#pagemain #sysview #bigtitle { width:1200px; overflow:hidden; text-align:center; font-size:40px; color:#000; line-height:45px; padding-bottom:30px; border-bottom:1px solid #eee;}
#pagemain #sysview #updatetime { width:1200px; overflow:hidden; text-align:center; font-size:14px; color:#ccc; margin-top:30px; padding-bottom:20px; border-bottom:1px solid #eee;}
#pagemain #sysview #syscontent { width:1200px; overflow:hidden; font-size:15px; color:#666; margin-top:50px; line-height:30px; padding-bottom:100px;}
#pagemain #sysview #syscontent * { font-size:15px; color:#666; line-height:30px;}
#pagemain #sysview #syscontent img { max-width:1200px; height:auto;}
.mrtj{position: relative;overflow: hidden;height:550px;margin-top: 20px;}
.mrtj>h3,.lic>h3{line-height:50px;font-size:30px;color:rgb(102, 102, 102);padding: 0;margin: 0;font-weight: inherit;}
.mrtj>h4,.lic>h4{line-height:34px;font-size:20px;color:rgb(102, 102, 102);padding: 0;margin: 0;}
.mrtj .mr{position: absolute;overflow: hidden;cursor: pointer;}
.mrtj .mr img{width:100%;}
.mrtj .mr1{width:358px;height:220px;left: 0px;top:100px;}
.mrtj .mr2{width:358px;height:194px;left: 0px;top:326px;}
.mrtj .mr3{width:522px;height:420px;right: 0px;top:100px;}
.mrtj .mr .wz{position: absolute;left: 0px;top:0px;padding: 15px;height:100%;background: rgba(0,0,0,.5);transition:all linear .3s;opacity: 0;}
.mrtj .mr .wz h3{line-height: 30px;font-size:18px;color: #fff;padding: 0;margin: 0;}
.mrtj .mr .wz h4{line-height: 26px;font-size:16px;color: #fff;padding: 0;margin: 0;font-weight: inherit;}
.mrtj .mr .wz p{line-height: 26px;font-size:16px;color: #fff;padding: 0;margin: 0;}
.mrtj .mr3 .wz h3{margin-top: 225px;width:492px;}
.mrtj .mr3 .wz p{width:330px;}
.mrtj .mr:hover .wz{opacity: 1;}
















