@charset "utf-8";
#topimg { margin:0 auto; width:100%; height:538px; overflow:hidden; margin-top:0px; text-align:center;}
#topimg #img_area { margin:0 auto; width:1900px; height:538px; position:relative; margin-left:-950px; left:50%; text-align:center; overflow:hidden;}
#topimg #img_area #zixun { margin:0 auto; width:1200px; overflow:hidden; position:relative; z-index:99; margin-top:-200px;}
#topimg #img_area #zixun a { display:block; float:right; width:225px; height:50px; text-decoration:none; text-align:center; background-color:#F8F400; font-size:21px; color:#4A6465; font-weight:bold; line-height:50px; border-radius:8px;}
#topimg #img_area #zixun a:hover { background-color:#F00; color:#fff;}
#topimg #imgarea { margin:0 auto; width:1900px; height:660px; background:url("../images/topbg.jpg")/*tpa=http://www.up-best.cn/zt/1/images/topbg.jpg*/ no-repeat center top; position:relative; margin-left:-950px; left:50%; text-align:center; overflow:hidden;}
#topimg #imgarea #bigword { margin:0 auto; text-align:center; width:1200px; color:#fff; font-size:38px; line-height:40px; margin-top:60px; font-weight:bold;}
#topimg #imgarea #bigword span { color:#fff; font-size:24px; line-height:50px; font-weight:normal;}
#topimg #imgarea #theimg { margin:0 auto; text-align:center; overflow:hidden; width:1200px; margin-top:20px; position:relative;}
#topimg #imgarea #items { margin:0 auto; width:1200px; overflow:hidden; margin-top:-13px;}
#topimg #imgarea #items ul { width:1300px;}
#topimg #imgarea #items ul li { float:left; height:170px; width:299px; margin-right:2px; overflow:hidden; background-color:#fff;}
#topimg #imgarea #items ul li #leftimg { float:left; width:113px; text-align:center; margin-top:30px;}
#topimg #imgarea #items ul li #rightdata { float:left; width:186px; text-align:left; overflow:hidden; margin-top:23px;}
#topimg #imgarea #items ul li #rightdata #title { width:186px; text-align:left; font-size:18px; font-weight:bold; color:#3BBFFD; overflow:hidden;}
#topimg #imgarea #items ul li #rightdata #notes { width:186px; text-align:left; font-size:14px; color:#989898; overflow:hidden; margin-top:5px;}
#topimg #imgarea #smallword { margin:0 auto; text-align:center; width:1200px; color:#fff; font-size:20px; line-height:35px; font-weight:normal; margin-top:25px;}
#topimg #imgarea #smallword b { color:#fff; font-size:20px; font-weight:bold;}

#course_sel { margin:0 auto; width:1200px; overflow:hidden; margin-top:50px;}
#course_sel ul { width:1210px;}
#course_sel ul a { display:block; float:left; background-color:#8B8B8B; width:599px; padding-top:15px; padding-bottom:15px; text-align:center; color:#fff; font-size:22px; margin-right:1px; text-decoration:none;}
#course_sel ul a.on { background-color:#F9B31D;}

#area1 { margin:0 auto; width:100%; overflow:hidden; margin-top:80px; background:url("../images/bg1.jpg")/*tpa=http://www.up-best.cn/zt/1/images/bg1.jpg*/ no-repeat center 105px;}
#area1 #title { margin:0 auto; width:1200px; text-align:center; height:100px; background:url("../images/titlebg1.png")/*tpa=http://www.up-best.cn/zt/1/images/titlebg1.png*/ no-repeat center center; overflow:hidden;}
#area1 #title #name1 { margin:0 auto; font-size:28px; line-height:28px; color:#000; width:640px; text-align:center; margin-top:0px;}
#area1 #title #name2 { margin:0 auto; margin-top:28px; font-size:25px; font-weight:bold; color:#fff; width:640px; text-align:center;}
#area1 #info { margin:0 auto; width:1200px; overflow:hidden; margin-top:190px; margin-bottom:130px;}
#area1 #info #words { float:left; width:515px; text-align:left; font-size:17px; color:#7D7D7D; line-height:30px; margin-left:0px;}

#area8 { margin:0 auto; width:100%; height:auto; overflow:hidden; margin-top:0px; background:url("../images/bg7.jpg")/*tpa=http://www.up-best.cn/zt/1/images/bg7.jpg*/ no-repeat center top;}
#area8 #title { margin:0 auto; width:1200px; overflow:hidden; margin-top:50px;}
#area8 #title #cnword { width:1200px; overflow:hidden; text-align:center;}
#area8 #title #cnword #lline { float:left; width:500px; border-top:1px solid #ccc; margin-top:20px;}
#area8 #title #cnword #rline { float:right; width:500px; border-top:1px solid #ccc; margin-top:20px;}
#area8 #title #cnword #word { float:left; width:200px; text-align:center; font-size:36px; font-weight:bold; line-height:36px; color:#000;} 
#area8 #title #enword { width:1200px; overflow:hidden; text-align:center; font-size:15px; color:#000; margin-top:10px;}
#area8 #starea { margin:0 auto; width:1200px; overflow:hidden; margin-bottom:55px;}
#area8 #starea #stitle { width:1200px; overflow:hidden; text-align:left; font-size:20px; color:#E13B74;}
#area8 #starea #info { width:1200px; overflow:hidden; margin-top:35px;}
#area8 #starea #info #limg { float:left; width:170px; text-align:left; overflow:hidden;}
#area8 #starea #info #rinfo { float:left; width:1030px; text-align:left; font-size:15px; color:#8E8E8E; line-height:28px;}
#area8 #zixun { margin:0 auto; width:1200px; overflow:hidden; text-align:center; padding-top:20px;}
#area8 #zixun a { display:block; margin:0 auto; border-radius:10px; width:205px; height:45px; padding-top:15px; text-align:center; background-color:#E13B74; color:#fff; font-size:24px; text-decoration:none;}
#area8 #zixun a:hover { background-color:#F00;}

#area3 { margin:0 auto; width:100%; height:550px; overflow:hidden; margin-top:30px; background:url("../images/bg3.jpg")/*tpa=http://www.up-best.cn/zt/1/images/bg3.jpg*/ no-repeat center top;}
#area3 #title { margin:0 auto; width:1200px; overflow:hidden; margin-top:75px;}
#area3 #title #cnword { width:1200px; overflow:hidden; text-align:center;}
#area3 #title #cnword #lline { float:left; width:500px; border-top:1px solid #A2A2A2; margin-top:20px;}
#area3 #title #cnword #rline { float:right; width:500px; border-top:1px solid #A2A2A2; margin-top:20px;}
#area3 #title #cnword #word { float:left; width:200px; text-align:center; font-size:36px; font-weight:bold; line-height:36px; color:#000;} 
#area3 #title #enword { width:1200px; overflow:hidden; text-align:center; font-size:15px; color:#000; margin-top:10px;}
#area3 #info { margin:0 auto; width:1200px; height:210px; background:url("../images/bg4.png")/*tpa=http://www.up-best.cn/zt/1/images/bg4.png*/ no-repeat center top;}
#area3 #info ul { width:1200px;overflow: hidden;margin-top:40px ;}
#area3 #info ul li { float:left; width:160px;height:127px;padding-top: 80px; margin: 0px 20px; text-align:center; color:#fff; font-size:20px;line-height:30px;}
#area3 #info ul li.lc{height:157px;padding-top: 50px;}
#area3 #info ul li a{color: #fff;display: block;height: 100%;font-size: 20px;}
#area3 #zixun { margin:0 auto; width:1200px; overflow:hidden; text-align:center; padding-top:20px;}
#area3 #zixun a { display:block; margin:0 auto; border-radius:10px; width:205px; height:45px; padding-top:15px; text-align:center; background-color:#E13B74; color:#fff; font-size:24px; text-decoration:none;}
#area3 #zixun a:hover { background-color:#F00;}

#area4 { margin:0 auto; width:100%; overflow:hidden; margin-top:0px;}
#area4 #title { margin:0 auto; width:1200px; overflow:hidden; margin-top:70px;}
#area4 #title #cnword { width:1200px; overflow:hidden; text-align:center;}
#area4 #title #cnword #lline { float:left; width:500px; border-top:1px solid #ccc; margin-top:20px;}
#area4 #title #cnword #rline { float:right; width:500px; border-top:1px solid #ccc; margin-top:20px;}
#area4 #title #cnword #word { float:left; width:200px; text-align:center; font-size:36px; font-weight:bold; line-height:36px; color:#000;} 
#area4 #title #enword { width:1200px; overflow:hidden; text-align:center; font-size:15px; color:#000; margin-top:10px;}
#area4 #info { margin:0 auto; width:1200px; overflow:hidden; margin-top:40px;}
#area4 #info #leftinfo { float:left; width:366px; background-color:#FFB344; height:627px; overflow:hidden;}
#area4 #info #rimg { float:right; width:830px;}
#area4 #info #leftinfo div { margin:0 auto; padding-top:25px; padding-bottom:25px; width:310px; border-bottom:1px dashed #FFE7C5; color:#fff; font-size:16px;}

#area5 { margin:0 auto; width:100%; overflow:hidden; margin-top:0px;}
#area5 #title { margin:0 auto; width:1200px; overflow:hidden; margin-top:70px;}
#area5 #title #cnword { width:1200px; overflow:hidden; text-align:center;}
#area5 #title #cnword #lline { float:left; width:500px; border-top:1px solid #ccc; margin-top:20px;}
#area5 #title #cnword #rline { float:right; width:500px; border-top:1px solid #ccc; margin-top:20px;}
#area5 #title #cnword #word { float:left; width:200px; text-align:center; font-size:36px; font-weight:bold; line-height:36px; color:#000;} 
#area5 #title #enword { width:1200px; overflow:hidden; text-align:center; font-size:15px; color:#000; margin-top:10px;}
#area5 #word1 { margin:0 auto; width:1200px; text-align:center; overflow:hidden; margin-top:40px; font-size:18px; color:#5F5F5F;}
#area5 #ssarea { margin:0 auto; width:1200px; height:225px; overflow:hidden; margin-top:70px;}
#area5 #ssarea #tleft { float:left; width:60px; height:225px; overflow:hidden; background:url("../images/tleft.png")/*tpa=http://www.up-best.cn/zt/1/images/tleft.png*/ no-repeat left center; cursor:pointer;}
#area5 #ssarea #tright { float:right; width:60px; height:225px; overflow:hidden; background:url("../images/tright.png")/*tpa=http://www.up-best.cn/zt/1/images/tright.png*/ no-repeat right center; cursor:pointer;}
#area5 #ssarea #imgs { float:left; width:1080px !important; height:225px !important; overflow:hidden;}
#area5 #ssarea #imgs ul { width:1080px; height:225px; overflow:hidden;}
#area5 #ssarea #imgs ul li { float:left; width:345px; height:225px; overflow:hidden; text-align:left; margin-right:35px;}

#area9 { margin:0 auto; width:100%; overflow:hidden; margin-top:0px; padding-bottom:70px;}
#area9 #title { margin:0 auto; width:1200px; overflow:hidden; margin-top:90px;}
#area9 #title #cnword { width:1200px; overflow:hidden; text-align:center;}
#area9 #title #cnword #lline { float:left; width:500px; border-top:1px solid #ccc; margin-top:20px;}
#area9 #title #cnword #rline { float:right; width:500px; border-top:1px solid #ccc; margin-top:20px;}
#area9 #title #cnword #word { float:left; width:200px; text-align:center; font-size:36px; font-weight:bold; line-height:36px; color:#000;} 
#area9 #title #enword { width:1200px; overflow:hidden; text-align:center; font-size:15px; color:#000; margin-top:10px;}
#area9 #word1 { margin:0 auto; width:1200px; text-align:center; overflow:hidden; margin-top:40px; font-size:18px; color:#5F5F5F;}
#area9 #tclist { margin:0 auto; width:1200px; overflow:hidden; margin-top:70px;}
#area9 #tclist ul { width:1400px;}
#area9 #tclist ul li { float:left; width:280px; overflow:hidden; margin-right:25px; margin-bottom:45px; text-align:center;}
#area9 #tclist ul li #img { width:280px; text-align:center; overflow:hidden;}
#area9 #tclist ul li #name { width:280px; text-align:center; overflow:hidden; margin-top:15px; font-size:15px; color:#AFAFAF;}
#area9 #tclist ul li #name font { font-size:18px; color:#000;}
#area9 #zixun { margin:0 auto; width:1200px; overflow:hidden; text-align:center; padding-top:10px;}
#area9 #zixun a { display:block; margin:0 auto; border-radius:10px; width:205px; height:45px; padding-top:15px; text-align:center; background-color:#E13B74; color:#fff; font-size:24px; text-decoration:none;}
#area9 #zixun a:hover { background-color:#F00;}

#area10 { margin:0 auto; width:100%; height:640px; overflow:hidden; margin-top:0px; background:url("../images/bg9.jpg")/*tpa=http://www.up-best.cn/zt/1/images/bg9.jpg*/ no-repeat center top;}
#area10 #title { margin:0 auto; width:1200px; overflow:hidden; margin-top:85px;}
#area10 #title #cnword { width:1200px; overflow:hidden; text-align:center;}
#area10 #title #cnword #lline { float:left; width:500px; border-top:1px solid #A2A2A2; margin-top:20px;}
#area10 #title #cnword #rline { float:right; width:500px; border-top:1px solid #A2A2A2; margin-top:20px;}
#area10 #title #cnword #word { float:left; width:200px; text-align:center; font-size:36px; font-weight:bold; line-height:36px; color:#000;} 
#area10 #title #enword { width:1200px; overflow:hidden; text-align:center; font-size:15px; color:#000; margin-top:10px;}
#area10 #word1 { margin:0 auto; width:1200px; text-align:center; overflow:hidden; margin-top:40px; font-size:18px; color:#2F2828;}
#area10 #items { margin:0 auto; width:1200px; overflow:hidden; margin-top:85px;}
#area10 #items ul { width:1500px;}
#area10 #items ul li { float:left; width:225px; text-align:center; overflow:hidden; margin-left:5px; margin-right:10px;}
#area10 #items ul li p { display:block; margin:0 auto; width:225px; overflow:hidden; margin-top:25px; font-size:17px; color:#000; line-height:28px;}
#area10 #cgarea { margin:0 auto; width:1200px; height:260px; overflow:hidden; margin-top:70px;}
#area10 #cgarea #tleft2 { float:left; width:60px; height:260px; overflow:hidden; background:url("../images/tleft.png")/*tpa=http://www.up-best.cn/zt/1/images/tleft.png*/ no-repeat left center; cursor:pointer;}
#area10 #cgarea #tright2 { float:right; width:60px; height:260px; overflow:hidden; background:url("../images/tright.png")/*tpa=http://www.up-best.cn/zt/1/images/tright.png*/ no-repeat right center; cursor:pointer;}
#area10 #cgarea #imgs2 { float:left; width:1080px !important; height:260px !important; overflow:hidden;}
#area10 #cgarea #imgs2 ul { width:1080px; height:260px; overflow:hidden;}
#area10 #cgarea #imgs2 ul li { float:left; width:345px; height:260px; text-align:center; background-color:#fff; overflow:hidden; margin-right:24px;}
#area10 #cgarea #imgs2 ul li img { margin-top:17px;}

#area7 { margin:0 auto; width:100%; height:820px; overflow:hidden; margin-top:0px; background:url("../images/bg6.jpg")/*tpa=http://www.up-best.cn/zt/1/images/bg6.jpg*/ no-repeat center top;}
#area7 #title { margin:0 auto; width:1200px; overflow:hidden; margin-top:55px; text-align:center;}
#area7 #ilist { margin:0 auto; width:1200px; overflow:hidden; margin-top:80px;}
#area7 #ilist ul { width:1300px;}
#area7 #ilist ul li { float:left; width:397px; height:183px; overflow:hidden; margin-right:5px; margin-bottom:24px; background:url("../images/ibg.png")/*tpa=http://www.up-best.cn/zt/1/images/ibg.png*/ no-repeat left top;}
#area7 #ilist ul li #limg { float:left; width:170px; text-align:left; margin-top:30px;}
#area7 #ilist ul li #limg img { margin-left:1px;}
#area7 #ilist ul li #rdata { float:left; width:215px; text-align:left; margin-top:30px;}
#area7 #ilist ul li #rdata #ttitle { width:215px; overflow:hidden; text-align:left; font-size:22px; color:#686868; font-weight:bold;}
#area7 #ilist ul li #rdata #ttitle span { display:block; color:#383838; font-size:12px; font-weight:normal;}
#area7 #ilist ul li #rdata #notes { width:215px; overflow:hidden; text-align:left; font-size:14px; color:#686868; margin-top:5px;}

#area11 { margin:0 auto; width:100%; overflow:hidden; margin-top:0px; padding-bottom:20px;}
#area11 #btitle { margin:0 auto; width:1200px; overflow:hidden; margin-top:70px;}
#area11 #btitle #cnword { width:1200px; overflow:hidden; text-align:center;}
#area11 #btitle #cnword #lline { float:left; width:500px; border-top:1px solid #ccc; margin-top:20px;}
#area11 #btitle #cnword #rline { float:right; width:500px; border-top:1px solid #ccc; margin-top:20px;}
#area11 #btitle #cnword #word { float:left; width:200px; text-align:center; font-size:36px; font-weight:bold; line-height:36px; color:#000;} 
#area11 #btitle #enword { width:1200px; overflow:hidden; text-align:center; font-size:15px; color:#000; margin-top:10px;}

#area11 #indexschool { margin:0 auto; width:1200px; overflow:hidden; margin-top:15px;}
#area11 #indexschool #sleft { float:left; width:810px; overflow:hidden;}
#area11 #indexschool #sleft #title { width:810px; overflow:hidden;}
#area11 #indexschool #sleft #title #titlename { float:left; width:600px; overflow:hidden;}
#area11 #indexschool #sleft #title #titlename font { font-size:22px; line-height:35px; color:#0F0F0F;}
#area11 #indexschool #sleft #title #titlename span { font-size:22px; color:#E13B74; text-transform:uppercase; font-family:Georgia, "Times New Roman", Times, serif}
#area11 #indexschool #sleft #title #more { float:right; width:210px; overflow:hidden;}
#area11 #indexschool #sleft #title #more a { margin-top:30px; display:block; width:auto; background-color:#E13B74; padding-left:10px; padding-right:10px; float:right; color:#fff; text-transform:uppercase; font-size:13px;}
#area11 #indexschool #sleft #schoolname { width:810px; overflow:hidden; margin-top:25px;}
#area11 #indexschool #sleft #schoolname div { display:block; cursor:pointer; background-color:#F1A7C0; margin-right:1px; float:left; width:201.5px; overflow:hidden; text-align:center; text-decoration:none; font-size:18px; color:#FFF; background-color:#F1A7C0; padding-top:10px; padding-bottom:10px;}
#area11 #indexschool #sleft #schoolname div.on { background-color:#E13B74; color:#fff;}
#area11 #indexschool #sleft #schoolimg { width:810px; height:385px; overflow:hidden; margin-top:37px;}
#area11 #indexschool #sright { float:right; width:332px; overflow:hidden; padding-top:85px;}
#area11 #indexschool #sright #input_place { width:332px; overflow:hidden; margin-top:0px;}
#area11 #indexschool #sright #input_place #writes { width:332px; border:0px; overflow:hidden; background:url("../images/bg10.jpg")/*tpa=http://www.up-best.cn/zt/1/images/bg10.jpg*/ no-repeat right bottom;}
#area11 #indexschool #sright #input_place #writes #selarea { width:332px; overflow:hidden; margin-top:0px; margin-left:0px;}
#area11 #indexschool #sright #input_place #writes #selarea div { display:block; cursor:pointer; float:left; width:166px; padding-top:10px; padding-bottom:10px; text-align:center; color:#fff; background-color:#E13B74; font-size:15px; text-decoration:none;}
#area11 #indexschool #sright #input_place #writes #selarea div.on { color:#fff; background-color:#A12A53;}
#area11 #indexschool #sright #input_place #writes #sel { width:330px; height:420px; margin-top:0px; position:relative; border:1px solid #F4B7CC; border-top:0px; overflow:hidden;}
#area11 #indexschool #sright #input_place #writes #sel #write { margin:0 auto; width:285px; padding-top:30px; position:relative;}/* background:url(../images/bg3.png) no-repeat center bottom;*/
#area11 #indexschool #sright #input_place #writes #sel #write #inputarea { width:285px; height:33px; margin-bottom:20px;}
#area11 #indexschool #sright #input_place #writes #sel #write #inputarea #lname { float:left; width:85px; text-align:center; margin-top:5px;}
#area11 #indexschool #sright #input_place #writes #sel #write #inputarea #rinput { float:right; width:200px;} 
#area11 #indexschool #sright #input_place #writes #sel #write #inputarea #rinput input.input1 { width:188px; padding:5px; border:1px solid #F4B7CC; margin-top:3px; background:url();}
#area11 #indexschool #sright #input_place #writes #sel #write #inputarea #rinput select.select1 { width:200px; border:1px solid #F4B7CC; margin-top:3px; padding:8px; padding-left:2px; background:url(); text-align:right;}
#area11 #indexschool #sright #input_place #writes #sel #write #inputarea #rinput select.select1 option { text-align:right;}
#area11 #indexschool #sright #input_place #writes #sel #write #subbt { margin:0 auto; width:285px; text-align:left; overflow:hidden; padding-top:10px;}
#area11 #indexschool #sright #input_place #writes #sel #write #subbt input.sub1 { width:160px; margin-left:85px; height:35px; text-align:center; color:#FFF; background-color:#E13B74; font-size:18px; border:0px; cursor:pointer;}
#area11 #indexschool #sright #input_place #writes #sel #write #subbt input.sub2 { width:160px; margin-left:85px; height:35px; text-align:center; color:#FFF; background-color:#A12A53; font-size:18px; border:0px; cursor:pointer;}


#reccase { margin:0 auto; width:1200px; overflow:hidden; margin-top:45px; margin-bottom:30px;}
#reccase #title { width:1200px; overflow:hidden;}
#reccase #title #tleft { float:left; width:500px; text-align:left; font-size:22px; color:#555555;}
#reccase #title #tleft span { color:#666666; font-size:12px; text-transform:uppercase;}
#reccase #title #tmore { float:right; width:60px; overflow:hidden;}
#reccase #title #tmore a { font-size:14px; margin-top:5px; display:block; padding-left:5px; padding-right:5px; padding-top:0px; padding-bottom:0px; background-color:#E13B74; color:#fff; text-align:center;}
#reccase #sarea {width:1200px; overflow:hidden; margin-top:30px;}
#reccase #sarea ul { width:1300px;}
#reccase #sarea ul li { float:left; width:280px; height:215px; margin-right:26px;}
#reccase #sarea ul li a { display:block; width:280px; height:180px; margin:0px; padding:0px; position:relative;}
#reccase #sarea ul li a p { display:none; position:absolute; width:280px; height:180px; background:url("../../../images/mask1.png")/*tpa=http://www.up-best.cn/images/mask1.png*/ no-repeat left top; left:0px; top:0px;}
#reccase #sarea ul li:hover a p { display:block;}
#reccase #sarea ul li span { display:block; width:280px; margin-top:7px; text-align:center; color:#333; font-size:15px;}
#reccase #sarea ul li:hover span { color:#E13B74;}















